<ul class="govuk-navigation component-activated-menu"
    data-activator-text="<%= t('pages.actions') %>"
    data-activator-classname="flow-menu-activator"
    data-component="ItemActionMenu"
    data-page-heading="<%= item[:title] %>"
    data-uuid="<%= item[:uuid] %>">
  <li data-action="none">
    <%= link_to t('actions.edit_branch'),
    edit_branch_path(service.service_id, item[:uuid]) %>
  </li>
  <li data-action="delete">
    <%= link_to t('actions.delete_branch'),
    branch_path(service.service_id, item[:uuid]),
    method: :delete, class: 'destructive delete' %>
  </li>
</ul>
