<ul class="govuk-navigation component-activated-menu"
    data-activator-text="<%= t('pages.actions') %>"
    data-activator-classname="flow-menu-activator"
    data-component="ItemActionMenu"
    data-title="<%= item[:title] %>"
    data-uuid="<%= item[:uuid] %>">
  <li data-action="none">
    <%= link_to t('actions.edit_page'),
    edit_page_path(service.service_id, item[:uuid]) %>
  </li>
  <% if item[:url] %>
    <li data-action="preview">
      <%= link_to t('actions.preview_page'),
      File.join(preview_service_path(service.service_id), item[:url]),
      target: '_blank',
      rel: 'noreferrer nofollow'
    %>
    </li>
  <% end %>

  <% unless (item[:type] =~ /page.(start|checkanswers|confirmation)/) %>
    <li data-action="move-api">
      <%= link_to t('actions.move_page'),
        api_service_flow_move_path(
          service.service_id,
          item[:uuid],
          item[:previous_uuid].to_s,
          item[:previous_conditional_uuid].to_s
        ) %>
    </li>
  <% end %>

  <% unless item[:type] == 'page.start' %>
    <li data-action="delete-api">
      <%= link_to t('actions.delete_page'),
        api_service_page_destroy_message_path(service.service_id, item[:uuid]),
        method: :delete,
        class: 'destructive delete' %>
    </li>
  <% end %>
</ul>
