<ul class="govuk-navigation component-activated-menu"
    data-activator-text="<%= t('pages.flow_branch_menu_label', title: item[:title]) %>"
    data-activator-classname="flow-menu-activator"
    data-component="ItemActionMenu"
    data-title="<%= item[:title] %>"
    data-uuid="<%= item[:uuid] %>">
  <li data-action="none">
    <%= link_to t('actions.edit_branch'),
    edit_branch_path(service.service_id, item[:uuid]) %>
  </li>
  <li data-action="delete-form">
    <%= link_to t('actions.delete_branch'),
        api_service_branch_destroy_message_path(service.service_id, item[:uuid]),
        method: :delete,
        class: 'destructive delete' %>
  </li>
</ul>
