<%= form_for(@service_creation, url: services_path) do |f| %>
  <div class="govuk-form-group <%= f.object.errors.present? ? 'govuk-form-group--error' : '' %>">
    <h2 class="govuk-label-wrapper" id="create-service-dialog-title" data-node="heading">
      <%= f.label :service_name, class: "govuk-label govuk-label--l" %>
    </h2>
    <div class="govuk-hint" id="service-name-hint">
      <%= t('services.form_name_change_hint') %>
    </div>
    <% f.object.errors.each do |error| %>
      <p id="service-name-error" class="govuk-error-message">
        <span class="govuk-visually-hidden"><%= t('activemodel.errors.assistive_prefix') %></span> <%= error.message %>
      </p>
    <% end %>
    <%= f.text_field :service_name, class: "govuk-input", 'aria-describedby': "service-name-hint #{ f.object.errors.present? ? ' service-name-error' : ''}" %>
  </div>
  <%= f.button t('services.create'), class: "govuk-button fb-govuk-button", type: 'submit' %>
<% end %>
