<%# ----------------------------------------------------------------------------------------------------- %>
<%# TODO: update template when removing BRANCHING flag %>

<%= link_to t('actions.preview_form'),
  preview_service_path(service.service_id),
  class: 'govuk-button fb-govuk-button fb-preview-button',
  target: '_blank' %>

<h1 class="govuk-heading-xl"><%= t('pages.flow.heading') %></h1>

<%# Flow overview layout for pages, branchs, and conditions %>
<% if ENV['BRANCHING'] == 'enabled' %>
  <div id="flow-overview">
    <div class="container">

      <% @pages_flow.each do |collection| %>
        <div class="column">
          <% collection.each_with_index do |item, index| %>
            <% if item[:type] == 'flow.branch' %>
              <section class="flow-item flow-branch" aria-label="TODO-need-editable-label">
                <%= image_pack_tag "diamond.svg",  :usemap => "#thumbnail-#{index}" %>
                <map name="thumbnail-<%= index %>" aria-hidden="true">
                  <area shape="poly" coords="0,72.5 100,0 200,72.5 100,145" alt="" href="<%= edit_branch_path(service.service_id, item[:uuid]) %>">
                </map>
                <%= flow_text_link(item) %>
                <%= render partial: 'flow_branch_menu', locals: { item: item } %>

              </section>
            <% else %>
              <section class="flow-item flow-page" aria-label="TODO-need-editable-label">
                <%= flow_thumbnail_link(item) %>
                <%= flow_text_link(item) %>
                <%= render partial: 'flow_page_menu', locals: { item: item } %>
              </section>
            <% end %>
          <% end %>
        </div>
      <% end %>

    </div>
  </div>

  <% if @detached_flows.present? %>
    <div id="flow-detached">
      <h2 class="govuk-heading-m"><%= t('pages.flow.detached') %></h2>
      <% @detached_flows.each do |detached_flow| %>
        <% detached_flow.each do |column| %>
          <% column.each do |flow| %>
            <ul class="govuk-navigation">
              <li><%= link_to flow[:title], detached_edit_link(flow) %></li>
            </ul>
          <% end %>
        <% end %>
      <% end %>
    </div>
  <% end %>

<% end %>


<%# ----------------------------------------------------------------------------------------------------- %>
<%# OLD FORM OVERVIEW PAGE HERE %>
<div id="form-overview">
  <% if ENV['BRANCHING'] == 'enabled' %>
    <div id="workaround-links">
      <% service.flow.each do |uuid, flow| %>
        <% if flow['_type'] == 'flow.branch' %>
          | <%= link_to flow['title'] || 'Untitled Branch', edit_branch_path(service.service_id, uuid) %> |
        <% end %>
      <% end %>
    </div>
  <% end %>
  <div class="container">
    <% service.pages.each do |page| %>
      <section class="form-overview-step" aria-label="<%= t('aria.' + page.type) %>">
        <%= flow_thumbnail(page) %>
        <%= flow_text_link({ type: 'page', uuid: page.uuid, title: page.url }) %>
        <%= render partial: 'flow_page_menu', locals: { item: { uuid: page.uuid, url: page.url, type: page.type  } } %>
      </section>
    <% end %>
  </div>
</div>
<%# end: OLD FORM OVERVIEW PAGE %>
<%# ----------------------------------------------------------------------------------------------------- %>


<%# statically written menu template used for each item menu %>
<ul class="component-activated-menu govuk-navigation"
    data-activated-menu-container-id="ActivatedMenu_AddPage"
    data-activator-classname="form-overview-button"
    data-activator-text="<%= t('pages.create') %>"
    data-component="PageAdditionMenu">
  <li>
    <span>Single question page</span>
    <ul class="govuk-navigation">
      <li><a href="#add-page"
             data-page-type="singlequestion"
             data-component-type="text">Text</a></li>
      <li><a href="#add-page"
             data-page-type="singlequestion"
             data-component-type="textarea">Textarea</a></li>
      <li><a href="#add-page"
             data-page-type="singlequestion"
             data-component-type="number">Number</a></li>
      <li><a href="#add-page"
             data-page-type="singlequestion"
             data-component-type="date">Date</a></li>
      <li><a href="#add-page"
             data-page-type="singlequestion"
             data-component-type="radios">Radio buttons</a></li>
      <li><a href="#add-page"
             data-page-type="singlequestion"
             data-component-type="checkboxes">Checkboxes</a></li>
      <li><a href="#add-page"
             data-page-type="singlequestion"
             data-component-type="upload">File upload</a></li>
    </ul>
  </li>
  <li>
    <a href="#add-page" data-page-type="multiplequestions">
      Multiple question page
    </a>
  </li>
  <li><a href="#add-page" data-page-type="checkanswers">Check answers page</a></li>
  <li><a href="#add-page" data-page-type="confirmation">Confirmation page</a></li>
  <li><a href="#add-page" data-page-type="content">Content page</a></li>
  <li><a href="#add-page" data-page-type="exit">Exit page</a></li>
</ul>

<%# Add page component dialog template %>
<div class="component-dialog-form"
     id="page-create-dialog"
     data-cancel-text="<%= t('pages.cancel') %>">
  <%= form_for(@page_creation, as: :page, url: pages_path) do |f| %>
    <%= f.hidden_field :add_page_after, value: "" %>
    <%= f.hidden_field :page_type, value: f.object.page_type.nil? ? 'singlequestion' : f.object.page_type  %>
    <%= f.hidden_field :component_type, value: f.object.component_type.nil? ? 'text' : f.object.component_type %>
    <div class="govuk-form-group <%= !f.object.errors.empty? ? 'govuk-form-group--error' :'' %>">
      <%= f.label :page_url, class: "govuk-label govuk-label--m" %>
      <span class="govuk-hint"><%= t('activemodel.attributes.page_creation.page_url_hint') %></span>
      <% f.object.errors.each do |error|  %>
        <span class="govuk-error-message"><%= error.message %></span>
      <% end %>
      <%= f.text_field :page_url, class: "govuk-input"  %>
    </div>

    <%= f.submit t('pages.create'), class: "govuk-button fb-govuk-button" %>
  <% end %>
</div>

<%# Section for static/standalone pages (e.g. T&Cs) %>
<%= render partial: 'partials/standalone' %>
