<%= link_to t('actions.preview_form'),
  preview_service_path(service.service_id),
  class: 'govuk-button fb-govuk-button fb-preview-button',
  target: '_blank' %>

<h1 class="govuk-heading-xl"><%= t('pages.flow.heading') %></h1>

<%# Flow overview layout for pages, branches, and conditions %>
<section id="flow-overview">
  <% @pages_flow.each do |collection| %>
    <div class="column">
      <% collection.each_with_index do |item, index| %>
        <%= render partial: 'services/flow_layout', locals: { item: item, index: index } %>
      <% end %>
    </div>
  <% end %>
</section>

<% if @detached_flows.present? %>
  <section id="flow-detached" data-component="Expander">
    <h2 class="govuk-heading-s"><%= t('pages.flow.detached') %></h2>
    <p class="help">
      <a target="_blank" href="https://moj-forms.service.justice.gov.uk/branching#reconnect-unconnected" class="govuk-link"><%= t('pages.flow.reconnect_hint') -%></a>
    </p>
    <% @detached_flows.each do |detached_flow| %>
          <div class="flow-detached-group">
        <% detached_flow.each do |column| %>
          <div class="column">
            <% column.each_with_index do |flow, index| %>
              <%= render partial: 'services/flow_layout', locals: { item: flow, index: index } %>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </section>
<% end %>


<%# Section for static/standalone pages (e.g. T&Cs) %>
<%= render partial: 'partials/standalone' %>

<%# Add page component dialog template %>
<div class="component-dialog-form"
     data-component="PageAdditionDialog"
     data-cancel-text="<%= t('pages.cancel') %>">
  <%= form_for(@page_creation, as: :page, url: pages_path) do |f| %>
    <%= f.hidden_field :add_page_after, value: f.object.add_page_after.nil? ? '' : f.object.add_page_after %>
    <%= f.hidden_field :page_type, value: f.object.page_type.nil? ? 'singlequestion' : f.object.page_type  %>
    <%= f.hidden_field :component_type, value: f.object.component_type.nil? ? 'text' : f.object.component_type %>

    <%# For when a user adds a page directly after a branch using the connection menu %>
    <%= f.hidden_field :conditional_uuid, value: '' %>

    <div class="govuk-form-group <%= !f.object.errors.empty? ? 'govuk-form-group--error' :'' %>">
      <%= f.label :page_url, class: "govuk-label govuk-label--m" %>
      <span class="govuk-hint"><%= t('activemodel.attributes.page_creation.page_url_hint') %></span>
      <% f.object.errors.each do |error|  %>
        <span class="govuk-error-message"><%= error.message %></span>
      <% end %>
      <%= f.text_field :page_url, class: "govuk-input"  %>
    </div>

    <%= f.submit t('pages.create'), class: "govuk-button fb-govuk-button" %>
  <% end %>
</div>
