<%= link_to t('actions.preview_form'),
  preview_service_path(service.service_id),
  class: 'govuk-button fb-govuk-button fb-preview-button',
  target: '_blank' %>

<h1 class="govuk-heading-xl"><%= t('pages.flow.heading') %></h1>

<%# ----------------------------------------------------------------------------------------------------- %>
<%# TEMPORARY HARDCODED HTML IN FORM EXPECTED %>
<div id="flow-overview-hardcoded-1">
  <div class="container">
      <div class="column">
          <section class="flow-item flow-page">
              <a class="flow-thumbnail text" aria-hidden="true" href="#">
                  <img class="header" alt="" src="/packs/media/images/thumbnails/thumbs_header-ffca2e0b48bb1f9188336053369a721a.png">
                  <span class="text">Apply for a juggling licence</span>
                  <img class="body" alt="" src="/packs/media/images/thumbnails/thumbs_text-dfa624ab84ea3a94a18f95d90c11f576.jpg">
              </a>
              <a class="flow-link">
                <span class="govuk-visually-hidden">Edit: </span>
                Apply for a juggling licence
              </a>
          </section>
      </div>
      <div class="column">
          <section class="flow-item flow-page">
              <a class="flow-thumbnail text" aria-hidden="true" href="#">
                <img class="header" alt="" src="/packs/media/images/thumbnails/thumbs_header-ffca2e0b48bb1f9188336053369a721a.png">
                <span class="text">How many balls can you juggle with?</span>
                <img class="body" alt="" src="/packs/media/images/thumbnails/thumbs_text-dfa624ab84ea3a94a18f95d90c11f576.jpg">
              </a>
              <a class="flow-link">
                <span class="govuk-visually-hidden">Edit: </span>
                How many balls can you juggle with?
              </a>
          </section>
      </div>
      <div class="column">
          <section class="flow-item flow-page">
              <a class="flow-thumbnail text" aria-hidden="true" href="#">
                <img class="header" alt="" src="/packs/media/images/thumbnails/thumbs_header-ffca2e0b48bb1f9188336053369a721a.png">
                <span class="text">What else can you juggle with?</span>
                <img class="body" alt="" src="/packs/media/images/thumbnails/thumbs_text-dfa624ab84ea3a94a18f95d90c11f576.jpg">
              </a>
              <a class="flow-link">
                <span class="govuk-visually-hidden">Edit: </span>
                What else can you juggle with
              </a>
          </section>
      </div>
      <div class="column">
          <section class="flow-item flow-branch">
              <%= image_pack_tag "diamond.svg",  :usemap => "#thumbnail-1" %>
              <map name="thumbnail-1" aria-hidden="true">
                <area shape="poly" coords="0,72.5 100,0 200,72.5 100,145" alt="" href="#">
              </map>
              <a href="#">
                <span class="govuk-visually-hidden">Edit</span>
                <span>Branching node 1</span>
              </a>
              <ul class="flow-conditions">
                <li class="flow-condition" data-fb-next="b3afdc4c-9fc6-4293-8972-037a1ba712c2">
                  <div class="flow-expression">
                    <span class="question">How many balls can you juggle with?</span>
                    <span class="match">is</span>
                    <span class="answer">3 or more</span>
                  </div>
                </li>
                <li class="flow-condition" data-fb-next="265785ed-6e3e-415a-874b-0fac4a1d7611">
                  <div class="flow-expression">
                    <span class="question">Otherwise</span>
                  </div>
                  <a class="govuk-visually-hidden">Go to: [next page title here]</a>
                </li>
              </ul>
          </section>
      </div>
      <div class="column">
          <section class="flow-item flow-page">
              <a class="flow-thumbnail text" aria-hidden="true" href="#">
                <img class="header" alt="" src="/packs/media/images/thumbnails/thumbs_header-ffca2e0b48bb1f9188336053369a721a.png">
                <span class="text">What's your best juggling trick? (optional)</span>
                <img class="body" alt="" src="/packs/media/images/thumbnails/thumbs_text-dfa624ab84ea3a94a18f95d90c11f576.jpg">
              </a>
              <a class="flow-link">
                <span class="govuk-visually-hidden">Edit: </span>
                What's your best juggling trick? (optional)
              </a>
          </section>
          <section class="flow-item flow-page">
              <a class="flow-thumbnail text" aria-hidden="true" href="#">
                <img class="header" alt="" src="/packs/media/images/thumbnails/thumbs_header-ffca2e0b48bb1f9188336053369a721a.png">
                <span class="text">You don't need a licence</span>
                <img class="body" alt="" src="/packs/media/images/thumbnails/thumbs_text-dfa624ab84ea3a94a18f95d90c11f576.jpg">
              </a>
              <a class="flow-link">
                <span class="govuk-visually-hidden">Edit: </span>
                You don't need a licence
              </a>
          </section>
      </div>

  </div>
</div>

<!-- ===================================================================================================== -->


<div id="flow-overview-hardcoded-2">
  <div class="container">
      <div class="column">
          <section class="flow-item flow-page">
              <a class="flow-thumbnail text" aria-hidden="true" href="#">
                  <img class="header" alt="" src="/packs/media/images/thumbnails/thumbs_header-ffca2e0b48bb1f9188336053369a721a.png">
                  <span class="text">Start</span>
                  <img class="body" alt="" src="/packs/media/images/thumbnails/thumbs_text-dfa624ab84ea3a94a18f95d90c11f576.jpg">
              </a>
              <a class="flow-link">
                <span class="govuk-visually-hidden">Edit: </span>
                Start
              </a>
          </section>
      </div>
      <div class="column">
          <section class="flow-item flow-page">
              <a class="flow-thumbnail text" aria-hidden="true" href="#">
                <img class="header" alt="" src="/packs/media/images/thumbnails/thumbs_header-ffca2e0b48bb1f9188336053369a721a.png">
                <span class="text">Long label for question 1</span>
                <img class="body" alt="" src="/packs/media/images/thumbnails/thumbs_text-dfa624ab84ea3a94a18f95d90c11f576.jpg">
              </a>
              <a class="flow-link">
                <span class="govuk-visually-hidden">Edit: </span>
                Long label for question 1
              </a>
          </section>
      </div>
      <div class="column">
          <section class="flow-item flow-page">
              <a class="flow-thumbnail text" aria-hidden="true" href="#">
                <img class="header" alt="" src="/packs/media/images/thumbnails/thumbs_header-ffca2e0b48bb1f9188336053369a721a.png">
                <span class="text">Long label for question 2</span>
                <img class="body" alt="" src="/packs/media/images/thumbnails/thumbs_text-dfa624ab84ea3a94a18f95d90c11f576.jpg">
              </a>
              <a class="flow-link">
                <span class="govuk-visually-hidden">Edit: </span>
                Long label for question 2
              </a>
          </section>
      </div>
      <div class="column">
          <section class="flow-item flow-branch">
              <%= image_pack_tag "diamond.svg",  :usemap => "#thumbnail-2" %>
              <map name="thumbnail-2" aria-hidden="true">
                <area shape="poly" coords="0,72.5 100,0 200,72.5 100,145" alt="" href="#">
              </map>
              <a href="#">
                <span class="govuk-visually-hidden">Edit</span>
                <span>Branching node 1</span>
              </a>
              <ul class="flow-conditions">
                <li class="flow-condition" data-fb-next="b3afdc4c-9fc6-4293-8972-037a1ba712c2">
                  <div class="flow-expression">
                    <span class="question">Question 1</span>
                    <span class="match">is</span>
                    <span class="answer">Answer 1</span>
                  </div>
                  <div class="flow-expression">
                    <span class="match">AND</span>
                    <span class="question">Question 2</span>
                    <span class="match">is</span>
                    <span class="answer">Answer 2</span>
                  </div>
                  <a class="govuk-visually-hidden">Go to: [next page title here]</a>
                </li>
                <li class="flow-condition" data-fb-next="96e8c505-85a0-4592-9c9f-8794ab454d22">
                  <div class="flow-expression">
                    <span class="question">Question 1</span>
                    <span class="match">is</span>
                    <span class="answer">Answer 1</span>
                  </div>
                  <div class="flow-expression">
                    <span class="match">AND</span>
                    <span class="question">Question 2</span>
                    <span class="match">is</span>
                    <span class="answer">Answer 3</span>
                  </div>
                  <a class="govuk-visually-hidden">Go to: [next page title here]</a>
                </li>
                <li class="flow-condition" data-fb-next="265785ed-6e3e-415a-874b-0fac4a1d7611">
                  <div class="flow-expression">
                    <span class="question">Otherwise</span>
                  </div>
                  <a class="govuk-visually-hidden">Go to: [next page title here]</a>
                </li>
              </ul>
          </section>
      </div>
      <div class="column">
          <section class="flow-item flow-page">
              <a class="flow-thumbnail text" aria-hidden="true" href="#">
                <img class="header" alt="" src="/packs/media/images/thumbnails/thumbs_header-ffca2e0b48bb1f9188336053369a721a.png">
                <span class="text">Title for question 3</span>
                <img class="body" alt="" src="/packs/media/images/thumbnails/thumbs_text-dfa624ab84ea3a94a18f95d90c11f576.jpg">
              </a>
              <a class="flow-link">
                <span class="govuk-visually-hidden">Edit: </span>
                Title for question 3
              </a>
          </section>
          <section class="flow-item flow-page">
              <a class="flow-thumbnail text" aria-hidden="true" href="#">
                <img class="header" alt="" src="/packs/media/images/thumbnails/thumbs_header-ffca2e0b48bb1f9188336053369a721a.png">
                <span class="text">Title for question 4</span>
                <img class="body" alt="" src="/packs/media/images/thumbnails/thumbs_text-dfa624ab84ea3a94a18f95d90c11f576.jpg">
              </a>
              <a class="flow-link">
                <span class="govuk-visually-hidden">Edit: </span>
                Title for question 4
              </a>
          </section>
      </div>
      <div class="column">
          <section class="flow-item flow-branch">
              <%= image_pack_tag "diamond.svg",  :usemap => "#thumbnail-3" %>
              <map name="thumbnail-3" aria-hidden="true">
                <area shape="poly" coords="0,72.5 100,0 200,72.5 100,145" alt="" href="#">
              </map>
              <a href="#">
                <span class="govuk-visually-hidden">Edit</span>
                <span>Branching node 2</span>
              </a>
              <ul class="flow-conditions">
                <li class="flow-condition" data-fb-next="b3afdc4c-9fc6-4293-8972-037a1ba712c2--AAA">
                  <div class="flow-expression">
                    <span class="question">Question 4</span>
                    <span class="match">is</span>
                    <span class="answer">Answer B</span>
                  </div>
                  <a class="govuk-visually-hidden">Go to: [next page title here]</a>
                </li>
                <li class="flow-condition" data-fb-next="96e8c505-85a0-4592-9c9f-8794ab454d22--BBB">
                  <div class="flow-expression">
                    <span class="question">Question 4</span>
                    <span class="match">is</span>
                    <span class="answer">Answer C</span>
                  </div>
                  <a class="govuk-visually-hidden">Go to: [next page title here]</a>
                </li>
                <li class="flow-condition" data-fb-next="265785ed-6e3e-415a-874b-0fac4a1d7611--CCC">
                  <div class="flow-expression">
                    <span class="question">Otherwise</span>
                  </div>
                  <a class="govuk-visually-hidden">Go to: [next page title here]</a>
                </li>
              </ul>
          </section>
      </div>
      <div class="column">
          <section class="flow-item flow-page">
              <a class="flow-thumbnail text" aria-hidden="true" href="#">
                <img class="header" alt="" src="/packs/media/images/thumbnails/thumbs_header-ffca2e0b48bb1f9188336053369a721a.png">
                <span class="text">Title for question 6</span>
                <img class="body" alt="" src="/packs/media/images/thumbnails/thumbs_text-dfa624ab84ea3a94a18f95d90c11f576.jpg">
              </a>
              <a class="flow-link">
                <span class="govuk-visually-hidden">Edit: </span>
                Title for question 6
              </a>
          </section>
          <section class="flow-item flow-page">
              <a class="flow-thumbnail text" aria-hidden="true" href="#">
                <img class="header" alt="" src="/packs/media/images/thumbnails/thumbs_header-ffca2e0b48bb1f9188336053369a721a.png">
                <span class="text">Title for question 5a</span>
                <img class="body" alt="" src="/packs/media/images/thumbnails/thumbs_text-dfa624ab84ea3a94a18f95d90c11f576.jpg">
              </a>
              <a class="flow-link">
                <span class="govuk-visually-hidden">Edit: </span>
                Title for question 5a
              </a>
          </section>
          <section class="flow-item flow-page">
              <a class="flow-thumbnail text" aria-hidden="true" href="#">
                <img class="header" alt="" src="/packs/media/images/thumbnails/thumbs_header-ffca2e0b48bb1f9188336053369a721a.png">
                <span class="text">Title for question 5b</span>
                <img class="body" alt="" src="/packs/media/images/thumbnails/thumbs_text-dfa624ab84ea3a94a18f95d90c11f576.jpg">
              </a>
              <a class="flow-link">
                <span class="govuk-visually-hidden">Edit: </span>
                Title for question 5b
              </a>
          </section>
      </div>
      <div class="column">
          <section class="flow-item flow-page">
              <a class="flow-thumbnail text" aria-hidden="true" href="#">
                <img class="header" alt="" src="/packs/media/images/thumbnails/thumbs_header-ffca2e0b48bb1f9188336053369a721a.png">
                <span class="text">Title for question 7</span>
                <img class="body" alt="" src="/packs/media/images/thumbnails/thumbs_text-dfa624ab84ea3a94a18f95d90c11f576.jpg">
              </a>
              <a class="flow-link">
                <span class="govuk-visually-hidden">Edit: </span>
                Title for question 7
              </a>
          </section>
      </div>
      <div class="column">
          <section class="flow-item flow-branch">
              <%= image_pack_tag "diamond.svg",  :usemap => "#thumbnail-4" %>
              <map name="thumbnail-4" aria-hidden="true">
                <area shape="poly" coords="0,72.5 100,0 200,72.5 100,145" alt="" href="#">
              </map>
              <a href="#">
                <span class="govuk-visually-hidden">Edit</span>
                <span>Branching node 3</span>
              </a>
              <ul class="flow-conditions">
                <li class="flow-condition" data-fb-next="265785ed-6e3e-415a-874b-0fac4a1d7611">
                  <div class="flow-expression">
                    <span class="question">Otherwise</span>
                  </div>
                  <a class="govuk-visually-hidden">Go to: [next page title here]</a>
                </li>
              </ul>
          </section>
      </div>
      <div class="column">
          <section class="flow-item flow-page">
              <a class="flow-thumbnail text" aria-hidden="true" href="#">
                <img class="header" alt="" src="/packs/media/images/thumbnails/thumbs_header-ffca2e0b48bb1f9188336053369a721a.png">
                <span class="text">Change Your Answers</span>
                <img class="body" alt="" src="/packs/media/images/thumbnails/thumbs_text-dfa624ab84ea3a94a18f95d90c11f576.jpg">
              </a>
              <a class="flow-link">
                <span class="govuk-visually-hidden">Edit: </span>
                Change Your Answers
              </a>
          </section>
      </div>
      <div class="column">
          <section class="flow-item flow-page">
              <a class="flow-thumbnail text" aria-hidden="true" href="#">
                <img class="header" alt="" src="/packs/media/images/thumbnails/thumbs_header-ffca2e0b48bb1f9188336053369a721a.png">
                <span class="text">Confirmation</span>
                <img class="body" alt="" src="/packs/media/images/thumbnails/thumbs_text-dfa624ab84ea3a94a18f95d90c11f576.jpg">
              </a>
              <a class="flow-link">
                <span class="govuk-visually-hidden">Edit: </span>
                Confirmation
              </a>
          </section>
      </div>

  </div>
</div>



<%# ----------------------------------------------------------------------------------------------------- %>
<%# THE REAL FLOW VIEW CODE HERE %>

<%#= debug @pages_flow %>

<div id="flow-overview">
  <div class="container">

    <% @pages_flow.each do |collection| %>
      <div class="column">
        <% collection.each_with_index do |item, index| %>
          <% if item[:type] == 'flow.branch' %>
            <section class="flow-item flow-branch" aria-label="TODO-need-editable-label">
              <%= image_pack_tag "diamond.svg",  :usemap => "#thumbnail-#{index}" %>
              <map name="thumbnail-<%= index %>" aria-hidden="true">
                <area shape="poly" coords="0,72.5 100,0 200,72.5 100,145" alt="" href="<%= edit_branch_path(service.service_id, item[:uuid]) %>">
              </map>
              <%= link_to edit_branch_path(service.service_id, item[:uuid]) do %>
                <span class="govuk-visually-hidden"><%= t('actions.edit') %></span>
                <span><%= item[:title] || 'Untitled Branch' %></span>
              <% end %>
            </section>
          <% else %>
            <section class="flow-item flow-page" aria-label="TODO-need-editable-label">
              <a class="flow-thumbnail text" href="#" aria-hidden="true">
                <img class="header" alt="" src="/packs/media/images/thumbnails/thumbs_header-ffca2e0b48bb1f9188336053369a721a.png">
                <span class="text"><%= item[:title] %></span>
                <img class="body" alt="" src="/packs/media/images/thumbnails/thumbs_text-dfa624ab84ea3a94a18f95d90c11f576.jpg">
              </a>
            </section>
          <% end %>
        <% end %>
      </div>
    <% end %>

  </div>
</div>


<%# ----------------------------------------------------------------------------------------------------- %>
<%# OLD FORM OVERVIEW PAGE HERE %>
<div id="form-overview">

  <% if ENV['BRANCHING'] == 'enabled' %>
    <div id="workaround-links">
      <% service.flow.each do |uuid, flow| %>
        <% if flow['_type'] == 'flow.branch' %>
          | <%= link_to flow['title'] || 'Untitled Branch', edit_branch_path(service.service_id, uuid) %> |
        <% end %>
      <% end %>
    </div>
  <% end %>

  <div class="container">
    <% service.pages.each do |page| %>
      <section class="form-overview-step" aria-label="<%= t('aria.' + page.type) %>">

        <%= flow_thumbnail(page) %>

        <ul class="govuk-navigation component-activated-menu"
            data-activator-text="<%= t('pages.actions') %>"
            data-activator-classname="form-step_button"
            data-component="PageActionMenu"
            data-page-heading="<%= page.title %>"
            data-uuid="<%= page._uuid %>">
          <li data-action="edit">
            <%= link_to t('actions.edit_page'),
            edit_page_path(service.service_id, page.uuid) %>
          </li>
          <li data-action="preview">
            <%= link_to t('actions.preview_page'),
            File.join(preview_service_path(service.service_id), page.url),
            target: '_blank' %>
          </li>
          <li data-action="add"><a href="#add-page-here"><%= t('actions.add_page') %></a></li>
          <li data-action="delete">
            <% unless page.type == 'page.start' %>
              <%= link_to t('actions.delete_page'),
              page_path(service.service_id, page.uuid),
              method: :delete, class: 'destructive delete' %>
            <% end %>
          </li>
          <% if ENV['BRANCHING'] == 'enabled' %>
          <li data-action="edit">
            <%= link_to t('services.branch'),
              new_branches_path(service.service_id, page.uuid) %>
          </li>
          <li data-action="edit">
            <%= link_to t('actions.change_destination'),
              new_api_service_flow_destination_path(service.service_id, page.uuid) %>
          </li>
          <% end %>
        </ul>

        <%= link_to edit_page_path(service.service_id, page.uuid), class: 'govuk-link' do %>
           <span class="govuk-visually-hidden"><%= t('actions.edit') %></span>
           <%= page.url %>
        <% end %>
      </section>
    <% end %>

    <ul class="component-activated-menu govuk-navigation"
        data-activated-menu-container-id="ActivatedMenu_AddPage"
        data-activator-classname="form-overview_button"
        data-activator-text="<%= t('pages.create') %>"
        data-component="PageAdditionMenu">
      <li>
        <span>Single question page</span>
        <ul class="govuk-navigation">
          <li><a href="#add-page"
                 data-page-type="singlequestion"
                 data-component-type="text">Text</a></li>
          <li><a href="#add-page"
                 data-page-type="singlequestion"
                 data-component-type="textarea">Textarea</a></li>
          <li><a href="#add-page"
                 data-page-type="singlequestion"
                 data-component-type="number">Number</a></li>
          <li><a href="#add-page"
                 data-page-type="singlequestion"
                 data-component-type="date">Date</a></li>
          <li><a href="#add-page"
                 data-page-type="singlequestion"
                 data-component-type="radios">Radio buttons</a></li>
          <li><a href="#add-page"
                 data-page-type="singlequestion"
                 data-component-type="checkboxes">Checkboxes</a></li>
          <li><a href="#add-page"
                 data-page-type="singlequestion"
                 data-component-type="upload">File upload</a></li>
        </ul>
      </li>
      <li>
        <a href="#add-page" data-page-type="multiplequestions">
          Multiple question page
        </a>
      </li>
      <li><a href="#add-page" data-page-type="checkanswers">Check answers page</a></li>
      <li><a href="#add-page" data-page-type="confirmation">Confirmation page</a></li>
      <li><a href="#add-page" data-page-type="content">Content page</a></li>
    </ul>

    <div class="component-dialog-form"
         id="new-page-create-dialog"
         data-activator-text="<%= t('pages.create') %>"
         data-cancel-text="<%= t('pages.cancel') %>"
         data-component="PageCreateDialog">
      <%= form_for(@page_creation, as: :page, url: pages_path) do |f| %>
        <%= f.hidden_field :add_page_after, value: "" %>
        <%= f.hidden_field :page_type, value: f.object.page_type.nil? ? 'singlequestion' : f.object.page_type  %>
        <%= f.hidden_field :component_type, value: f.object.component_type.nil? ? 'text' : f.object.component_type %>
        <div class="govuk-form-group <%= !f.object.errors.empty? ? 'govuk-form-group--error' :'' %>">
          <%= f.label :page_url, class: "govuk-label govuk-label--m" %>
          <span class="govuk-hint"><%= t('activemodel.attributes.page_creation.page_url_hint') %></span>
          <% f.object.errors.each do |error|  %>
            <span class="govuk-error-message"><%= error.message %></span>
          <% end %>
          <%= f.text_field :page_url, class: "govuk-input"  %>
        </div>
        <%= f.submit 'Add page', class: "govuk-button fb-govuk-button" %>
      <% end %>
    </div>

  </div>
</div>

<%= render partial: 'partials/standalone' %>
