<div class="flow-titlebar">
  <h1 class="govuk-heading-xl"><%= t('pages.flow.heading') %></h1>

  <% if @undo_redo_button.present?%>
    <%= button_to api_service_previous_version_path(service.service_id, operation: @undo_redo_button[:action],undoable_action: @undo_redo_button[:undoable_action]),
      method: :get,
      class: 'fb-govuk-button fb-govuk-button-inverted fb-govuk-button--inline',
      data: { element: 'undo-redo-button' } do
        @undo_redo_button[:text]
      end
      %>
  <% end %>

  <%= link_to t('actions.preview_form'),
    preview_service_path(service.service_id),
    class: 'govuk-button fb-govuk-button fb-govuk-button--inline',
    target: '_blank' %>
</div>

<%# Flow overview layout for pages, branches, and conditions %>
<%= render partial: 'services/flow_layout', locals: {main_flow: @pages_flow, detached_flows: @detached_flows } %>

<%# Section for static/standalone pages (e.g. T&Cs) %>
<%= render partial: 'partials/standalone' %>

<%# Add page component dialog template %>
<div class="component-dialog-form"
     data-component="PageAdditionDialog">
  <%= form_for(@page_creation, as: :page, url: pages_path) do |f| %>
    <%= f.hidden_field :add_page_after, value: f.object.add_page_after.nil? ? '' : f.object.add_page_after %>
    <%= f.hidden_field :page_type, value: f.object.page_type.nil? ? 'singlequestion' : f.object.page_type  %>
    <%= f.hidden_field :component_type, value: f.object.component_type.nil? ? 'text' : f.object.component_type %>

    <%# For when a user adds a page directly after a branch using the connection menu %>
    <%= f.hidden_field :conditional_uuid, value: '' %>

    <div class="govuk-form-group <%= f.object.errors.present? ? 'govuk-form-group--error' :'' %>">
      <%= f.label :page_url, class: "govuk-label govuk-label--m", id: "dialog-title" %>
      <div class="govuk-hint" id="add-page-hint"><%= t('activemodel.attributes.page_creation.page_url_hint') %></div>
      <% f.object.errors.each do |error|  %>
        <p class="govuk-error-message"><%= error.message %></p>
      <% end %>
      <%= f.text_field :page_url, class: "govuk-input", 'aria-describedby': "add-page-hint"  %>
    </div>

    <%= f.submit t('pages.create'), class: "govuk-button fb-govuk-button" %>
  <% end %>
</div>
