<%# ----------------------------------------------------------------------------------------------------- %>
<%# TODO: update template when removing BRANCHING flag %>

<%= link_to t('actions.preview_form'),
  preview_service_path(service.service_id),
  class: 'govuk-button fb-govuk-button fb-preview-button',
  target: '_blank' %>

<h1 class="govuk-heading-xl"><%= t('pages.flow.heading') %></h1>

<%# Flow overview layout for pages, branchs, and conditions %>
<% if ENV['BRANCHING'] == 'enabled' %>
  <section id="flow-overview">
    <% @pages_flow.each do |collection| %>
      <div class="column">
        <% collection.each_with_index do |item, index| %>
          <%= render partial: 'services/flow_layout', locals: { item: item, index: index } %>
        <% end %>
      </div>
    <% end %>
  </section>

  <% if @detached_flows.present? %>
    <section id="flow-detached" data-component="Expander">
      <h2 class="govuk-heading-s"><%= t('pages.flow.detached') %></h2>
      <% @detached_flows.each do |detached_flow| %>
        <div class="flow-detached-group">
          <% detached_flow.each do |column| %>
            <div class="column">
              <% column.each_with_index do |flow, index| %>
                <%= render partial: 'services/flow_layout', locals: { item: flow, index: index } %>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>
    </section>
  <% end %>

<% end %>


<%# Section for static/standalone pages (e.g. T&Cs) %>
<%= render partial: 'partials/standalone' %>


<%# ----------------------------------------------------------------------------------------------------- %>
<%# OLD FORM OVERVIEW PAGE HERE %>
<div id="form-overview">
  <% if ENV['BRANCHING'] == 'enabled' %>
    <div id="workaround-links">
      <% service.flow.each do |uuid, flow| %>
        <% if flow['_type'] == 'flow.branch' %>
          | <%= link_to flow['title'] || 'Untitled Branch', edit_branch_path(service.service_id, uuid) %> |
        <% end %>
      <% end %>
    </div>
  <% end %>
  <div class="container">
    <% service.pages.each do |page| %>
      <section class="form-overview-step form-step" aria-label="<%= t('aria.' + page.type) %>">
        <%= flow_thumbnail(page) %>
        <%= flow_text_link({ type: 'page', uuid: page.uuid, title: page.url }) %>
        <%= render partial: 'services/form_overview_page_menu', locals: { item: { title: page.title, uuid: page.uuid, url: page.url, type: page.type  } } %>
      </section>
    <% end %>
  </div>
</div>
<%# end: OLD FORM OVERVIEW PAGE %>
<%# ----------------------------------------------------------------------------------------------------- %>


<%# statically written menu template used for each item menu %>
<ul class="component-activated-menu govuk-navigation"
    data-activator-classname="form-overview-button"
    data-activator-text="<%= t('pages.create') %>"
    data-component="PageAdditionMenu">
  <li>
    <span>Single question page</span>
    <ul class="govuk-navigation">
      <li data-page-type="singlequestion"
          data-component-type="text"><a href="#add-page">Text</a></li>
      <li data-page-type="singlequestion"
          data-component-type="textarea"><a href="#add-page">Textarea</a></li>
      <li data-page-type="singlequestion"
          data-component-type="number"><a href="#add-page">Number</a></li>
      <li data-page-type="singlequestion"
          data-component-type="date"><a href="#add-page">Date</a></li>
      <li data-page-type="singlequestion"
          data-component-type="radios"><a href="#add-page">Radio buttons</a></li>
      <li data-page-type="singlequestion"
          data-component-type="checkboxes"><a href="#add-page">Checkboxes</a></li>
      <li data-page-type="singlequestion"
          data-component-type="upload"><a href="#add-page">File upload</a></li>
    </ul>
  </li>
  <li data-page-type="multiplequestions"><a href="#add-page">Multiple question page</a></li>
  <li data-page-type="checkanswers"><a href="#add-page">Check answers page</a></li>
  <li data-page-type="confirmation"><a href="#add-page">Confirmation page</a></li>
  <li data-page-type="content"><a href="#add-page">Content page</a></li>
  <li data-page-type="exit"><a href="#add-page">Exit page</a></li>
</ul>

<%# Add page component dialog template %>
<div class="component-dialog-form"
     data-component="PageAdditionDialog"
     data-cancel-text="<%= t('pages.cancel') %>">
  <%= form_for(@page_creation, as: :page, url: pages_path) do |f| %>
    <%= f.hidden_field :add_page_after, value: f.object.add_page_after.nil? ? '' : f.object.add_page_after %>
    <%= f.hidden_field :page_type, value: f.object.page_type.nil? ? 'singlequestion' : f.object.page_type  %>
    <%= f.hidden_field :component_type, value: f.object.component_type.nil? ? 'text' : f.object.component_type %>
    <div class="govuk-form-group <%= !f.object.errors.empty? ? 'govuk-form-group--error' :'' %>">
      <%= f.label :page_url, class: "govuk-label govuk-label--m" %>
      <span class="govuk-hint"><%= t('activemodel.attributes.page_creation.page_url_hint') %></span>
      <% f.object.errors.each do |error|  %>
        <span class="govuk-error-message"><%= error.message %></span>
      <% end %>
      <%= f.text_field :page_url, class: "govuk-input"  %>
    </div>

    <%= f.submit t('pages.create'), class: "govuk-button fb-govuk-button" %>
  <% end %>
</div>
