<div class="fb-main-grid-wrapper" data-block-id="services" data-block-type="page" data-block-pagetype="services">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <%= render AnnouncementComponent.new(user: current_user) %>

      <h1 class="govuk-heading-xl" data-block-id="forms-heading" data-block-property="heading"><%= t('services.heading') %>
      </h1>

      <ul class="fb-editor-list fb-editor-form-list">
        <% services.each do |service| %>
          <li id="service-<%= service.name.parameterize %>">
            <span class="name">
              <%= service.name %>
            </span>
            <span class="actions">
<%= link_to edit_service_path(service.id), class: "govuk-link edit" do %><%= t('services.edit') %><span class="sr-only">: <%= service.name %></span><% end %>
             <%= link_to preview_service_path(service.id), class: "govuk-link", target: '_blank' do %>
<%= t('services.preview') %>
<span class="sr-only">: <%= service.name %></span>
              <% end %>
            </span>
          </li>
        <% end %>
      </ul>

      <div class="component-dialog-form"
           id="new-service-create-dialog"
           data-activator-text="<%= t('services.create') %>"
           data-cancel-text="<%= t('services.cancel') %>"
           data-component="FormCreateDialog">
        <%= render partial: 'new_form' %>
      </div>

      <% if params[:owner].present? %>
          <%= render 'confirmation_transfer_ownership' %>
      <% end %>
    </div>
  </div>
</div>

