<div class="fb-main-grid-wrapper" data-block-id="services" data-block-type="page" data-block-pagetype="services">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <%= render AnnouncementComponent.new(user: current_user) %>

      <h1 class="govuk-heading-xl" data-block-id="forms-heading" data-block-property="heading"><%= t('services.heading') %>
      </h1>

      <ul class="fb-editor-list fb-editor-form-list">
        <% services.each do |service| %>
          <li id="service-<%= service.name.parameterize %>">
            <span class="name">
              <%= service.name %>
            </span>
            <span class="actions">
<%= link_to edit_service_path(service.id), class: "govuk-link edit" do %><%= t('services.edit') %><span class="sr-only">: <%= service.name %></span><% end %>
             <%= link_to preview_service_path(service.id), class: "govuk-link", target: '_blank' do %>
<%= t('services.preview') %>
<span class="sr-only">: <%= service.name %></span>
              <% end %>
            </span>
          </li>
        <% end %>
      </ul>

      <% if ENV['PLATFORM_ENV'] != 'live'  %>
        <div class="component-dialog-form"
             id="new-service-create-dialog"
             data-activator-text="<%= t('services.create') %>"
             data-cancel-text="<%= t('services.cancel') %>"
             data-component="FormCreateDialog">
          <%= form_for(@service_creation, url: services_path) do |f| %>
            <div class="govuk-form-group <%= f.object.errors.present? ? 'govuk-form-group--error' : '' %>">
              <h2 class="govuk-label-wrapper" id="create-service-dialog-title" data-node="heading">
                <%= f.label :service_name, class: "govuk-label govuk-label--m" %>
              </h2>
              <div class="govuk-hint" id="service-name-hint">
                <%= t('services.form_name_change_hint') %>
              </div>
              <% f.object.errors.each do |error| %>
                <p id="service-name-error" class="govuk-error-message">
                  <span class="govuk-visually-hidden"><%= t('activemodel.errors.assistive_prefix') %></span> <%= error.message %>
                </p>
              <% end %>
              <%= f.text_field :service_name, class: "govuk-input", 'aria-describedby': "service-name-hint #{ f.object.errors.present? ? ' service-name-error' : ''}" %>
            </div>
            <%= f.button t('services.create'), class: "govuk-button fb-govuk-button", type: 'submit' %>
          <% end %>
        </div>
      <% end %>

      <% if params[:owner].present? %>
          <%= render 'confirmation_transfer_ownership' %>
      <% end %>
    </div>
  </div>
</div>

