<%= f.govuk_check_boxes_fieldset :"reference_number",
      multiple: false,
      legend: { text: t('settings.reference_number.legend'), size: 'l'} do %>
      <div class="govuk-hint" id="reference_number_hint"><%= t('settings.reference_number.hint') %></div>
      <%= f.govuk_check_box :"reference_number", 1, 0,
        multiple: false,
        link_errors: true,
        label: { text: t('settings.reference_number.label') },
        checked: f.object.reference_number_checked?,
        aria: {
            describedby: 'reference_number_hint reference_number_warning'
          }
      %>
<% end %>


<% if ENV['PAYMENT_LINK'] == 'enabled' %>
  <%= f.govuk_check_boxes_fieldset :"payment_link",
      multiple: false,
      legend: { text: t('settings.payment_link.legend'), size: 'l'} do %>
      <div class="govuk-hint" id="payment_link_hint"><%= t('settings.payment_link.hint', href: t('settings.payment_link.href', url: t('settings.payment_link.url'))).html_safe %></div>
      <%= f.govuk_check_box :"payment_link", 1, 0,
        multiple: false,
        link_errors: true,
        label: { text: t('settings.payment_link.label') },
        checked: f.object.payment_link_checked?,
        aria: {
            describedby: 'payment_link_hint payment_link_warning'
          }
      %>

      <%= f.text_field :"payment_link_url",
        label: 'GovUK Pay',
        class: "govuk-input width-responsive-two-thirds govuk-input--error",
        value: '' %>
  <% end %>
<% end %>
