<%= form_for @reference_payment, url: settings_reference_payment_index_path(service.service_id),
    html: { id: 'reference-payment-settings' },
    builder: GOVUKDesignSystemFormBuilder::FormBuilder do |f| %>

  <%= render MojForms::SettingsScreenComponent.new(
    heading:t('settings.reference_number.heading'),
    description: t('settings.reference_number.description',
                    href: t('settings.reference_number.href',
                      url: t('partials.header.user_guide_url')
                    )
                  ).html_safe
    ) do |c| %>

    <% c.with_back_link(href: settings_path) %>

    <% c.with_notification do %>
      <% if @reference_payment.reference_number_checked? && !@confirmation_email_enabled %>
        <%= govuk_notification_banner(title_text: t('notification_banners.important'), classes: "govuk-!-margin-top-6") do %>
          <h3 class="govuk-heading-s"><%= t('settings.reference_number.confirmation_email_warning.title') %></h3>
          <p><%= t('settings.reference_number.confirmation_email_warning.text') %></p>
          <p><%= govuk_link_to( t('settings.reference_number.confirmation_email_warning.link_text'), settings_confirmation_email_index_path(service.service_id) ) %></p>
        <% end %>
      <% end %>
    <% end %>

    <%= govuk_warning_text(text: t('settings.reference_number.warning'), html_attributes: { id: 'reference_number_warning' }) %>

    <%= render partial: 'form', locals: { f: f } %>

    <button type="submit" class="govuk-button fb-govuk-button" data-module="govuk-button">
      <%= t('actions.save') %>
    </button>
  <% end %>
<% end %>
