<%= form_for @reference_payment, url: settings_reference_payment_index_path(service.service_id),
    html: { id: 'reference-payment-settings' },
    builder: GOVUKDesignSystemFormBuilder::FormBuilder do |f| %>

  <% if f.object.errors.present? %>
    <div class="govuk-error-summary" data-module="govuk-error-summary">
      <div role="alert">
      <h2 class="govuk-error-summary__title">
        <%= t('activemodel.errors.summary_title') %>
      </h2>
      <div class="govuk-error-summary__body">
        <ul class="govuk-list govuk-error-summary__list govuk-error-message" id="reference_payment_settings-field-error" >
          <% f.object.errors.full_messages.each_with_index do |error_message, index| %>
          <li>
            <a href="#reference_payment_settings-field-error_<%= index%>"  >
              <%= error_message %>
            </a>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<% end %>

  <%= render MojForms::SettingsScreenComponent.new(
    heading:t('settings.reference_number.heading'),
    description: t('settings.reference_number.description',
                    href: t('settings.reference_number.href',
                      url: t('partials.header.user_guide_url')+'settings/#references'
                    )
                  ).html_safe
    ) do |c| %>

    <% c.with_back_link(href: settings_path) %>

    <% c.with_notification do %>
      <% if @reference_payment.reference_number_checked? && !@confirmation_email_enabled %>
        <%= govuk_notification_banner(title_text: t('notification_banners.important'), classes: "govuk-!-margin-top-6") do %>
          <h3 class="govuk-heading-s"><%= t('settings.reference_number.confirmation_email_warning.title') %></h3>
          <p><%= t('settings.reference_number.confirmation_email_warning.text') %></p>
          <p><%= govuk_link_to( t('settings.reference_number.confirmation_email_warning.link_text'), settings_confirmation_email_index_path(service.service_id) ) %></p>
        <% end %>
      <% end %>
    <% end %>

    <%= govuk_warning_text(text: t('settings.reference_number.warning'), html_attributes: { id: 'reference_number_warning' }) %>

    <%= render partial: 'form', locals: { f: f } %>

    <button type="submit" class="govuk-button fb-govuk-button" data-module="govuk-button">
      <%= t('actions.save') %>
    </button>
  <% end %>
<% end %>
