<%= form_for @from_address,
    method: :post,
    url: settings_from_address_index_path(service.service_id),
    html: { class: (@from_address.errors.any? ? 'with-errors' : '') },
    builder: GOVUKDesignSystemFormBuilder::FormBuilder do |f| %>

<%= render MojForms::SettingsScreenComponent.new(
  heading:t('settings.from_address.heading'),
  description: t('settings.from_address.description')
  ) do |c| %>

  <% c.with_back_link(href: settings_submission_index_path) %>

  <% c.with_notification do %>
    <%= f.govuk_error_summary link_base_errors_to: :email, class: "govuk-!-margin-bottom-6 govuk-!-margin-top-6" %>

    <% if @from_address.pending? && @from_address.errors.blank? %>
      <%= govuk_notification_banner(title_text: t('notification_banners.important'), classes: "govuk-!-margin-top-6") do %>
        <% if @from_address.allowed_domain? %>
          <%= @presenter.message.html_safe %>
          <%= render "resend_validation_link" %>
        <% else %>
          <%= render "contact_us" %>
        <% end %>
      <% end %>
    <% end %>

  <% end %>

    <%= f.govuk_text_field :email,
      label: { text:  t('activemodel.attributes.from_address.email') },
      hint: { text:  t('activemodel.attributes.from_address.from_address_hint') },
      value: f.object.email_address
    %>

    <% if @from_address.default? %>
      <%= govuk_warning_text(text: @presenter.message) %>
    <% end %>

    <% if @from_address.verified? %>
      <p class="fb-status-message govuk-!-margin-bottom-6">
        <span class="fb-status-message__icon" aria-hidden="true"></span>
        <span class="fb-status-message__text"><%= @presenter.message %></span>
      </p>
    <% end %>

    <button type="submit" class="govuk-button fb-govuk-button" data-module="govuk-button" aria-describedby="save_description">
      <%= t('actions.save') %>
    </button>
    <span class="sr-only" id="save_description"></span>

  <% end %>
<% end %>
