<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <%= form_for @from_address,
      method: :post,
      url: settings_from_address_index_path(service.service_id),
      builder: GOVUKDesignSystemFormBuilder::FormBuilder do |f| %>

    <%= f.govuk_error_summary link_base_errors_to: :email %>

    <% if @presenter.message[:status] == 'pending' %>
      <%= govuk_notification_banner(title_text: t('notification_banners.important')) do %>
        <%= @presenter.message[:text].html_safe %>
        <p>
          <span role="alert"></span> 
          <%= tag.button t('settings.from_address.resend_link_text'),
            class: 'fb-link-button',
            data: {
              remote: true,
              method: 'post',
              url: api_service_settings_from_address_resend_path(service.service_id),
              success: t('settings.from_address.link_resent_success')
            } %>
        </p>
      <% end %>
    <% end %>

    <h1 class="govuk-heading-xl"><%= t('settings.from_address.heading') %></h1>

    <p class="govuk-!-margin-bottom-7"><%= t('settings.from_address.lede') %></p>

    <%= f.govuk_text_field :email,
      label: { text:  t('activemodel.attributes.from_address.email') },
      hint: { text:  t('activemodel.attributes.from_address.from_address_hint') },
      value: f.object.email_address
    %>

    <% if @presenter.message[:status] == 'default' %>
      <%= govuk_warning_text(text: @presenter.message[:text]) %>
    <% end %>

    <% if @presenter.message[:status] == 'verified' %>
      <p class="fb-status-message govuk-!-margin-bottom-6">
        <span class="fb-status-message__icon" aria-hidden="true"></span>
        <span class="fb-status-message__text"><%= @presenter.message[:text] %></span>
      </p>
    <% end %>

    <button type="submit" class="govuk-button fb-govuk-button" data-module="govuk-button">
      <%= t('actions.save') %>
    </button>
  <% end %>
  </div>
</div>
