<% content_for(:title) do %>
  <%= display_resource_name('Service') %>
<% end %>

<header class="main-content__header" role="banner">
  <h1 class="main-content__page-title" id="page-title">
    <%= @service.service_name %>
  </h1>
  <h2>Service ID: <%= @service.service_id %></h2>
</header>

<section class="main-content__body main-content__body--flush">
  <div class="govuk-!-margin-left-5">
    <a href="<%= edit_service_path(@service.service_id) %>" class="govuk-button fb-govuk-button">
      Visit service in app
    </a>
<div>
Using service controller
<br>

<section class="main-content__body">
  <dl class="govuk-summary-list">


    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        url
      </dt>
      <dd class="govuk-summary-list__value">
        <%= @api_json_endpoint_url %>
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
          key
        </dt>
      <dd class="govuk-summary-list__value">s
        <%= @api_json_endpoint_key %>
    </div>

  </dl>
    <a href="<%= admin_service_api_submission_index_path(@service.service_id) %>" class="govuk-button fb-govuk-button">Edit API Submission from Service Controller</a>

</div>


<div>
Using Partial
<%# <%= render "admin/api_submission/show", object: @service %> %>

</div>


  <% if ENV['API_SUBMISSION'] == 'enabled' %>

    <h2 class="govuk-heading-m govuk-!-margin-top-5">
      API Submission
    </h2>


<section class="main-content__body">
  <dl class="govuk-summary-list">


    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        url
      </dt>
      <dd class="govuk-summary-list__value">
        <%= @api_json_endpoint_url %>
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
          key
        </dt>
      <dd class="govuk-summary-list__value">

        <%= @api_json_endpoint_key %>
    </div>

  </dl>
</section>

    This is the last value for url:
    <%@api_json_endpoint_url%>
<br>
<br>

    <a href="<%= admin_service_api_submission_index_path(@service.service_id, 0) %>" class="govuk-button fb-govuk-button">Edit API Submission</a>

  <%# <%= link_to "Get API Submission Setting",
    :controller => "api_submission",
    :action => "update",
    :id => @service.service_id %> %>

  <% end %>
</div>
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Service created by
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @service_creator.name %>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Service created at
        </dt>
        <dd class="govuk-summary-list__value">
          <%= l(@versions.last.created_at.to_time) %>
        </dd>
      </div>
    </dl>

    <h2 class="govuk-heading-m govuk-!-margin-top-5">
      Published to Live
    </h2>
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Published by
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @published_to_live[:published_by] %>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Published at
        </dt>
        <dd class="govuk-summary-list__value">
          <% if @published_to_live.present? %>
            <%= l(@published_to_live[:created_at].to_time) %>
          <% end %>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Version ID
        </dt>
        <dd class="govuk-summary-list__value">
          <% if @published_to_live[:version_id].present? %>
            <%= link_to @published_to_live[:version_id],
                admin_service_version_path(@service.service_id, @published_to_live[:version_id] )
            %>
          <% end %>
        </dd>
      </div>
    </dl>
    <% if @published_to_live[:id].present? %>
    <%= link_to 'Unpublish Live', admin_service_unpublish_path(
        @service.service_id, @published_to_live[:id], 'production'),
        method: :post,
        class: "govuk-button fb-govuk-button",
        disable_with: 'Unpublishing. . .'
    %>
    <%= link_to 'Re-publish Live', admin_service_republish_path(
      @service.service_id, @published_to_live[:id], 'production'),
      method: :post,
      class: "govuk-button fb-govuk-button",
      disable_with: 'Re-publishing. . .'
    %>
    <% end %>

    <h2 class="govuk-heading-m govuk-!-margin-top-5">
      Published to Test
    </h2>
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Published by
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @published_to_test[:published_by] %>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Published at
        </dt>
        <dd class="govuk-summary-list__value">
          <% if @published_to_test.present? %>
            <%= l(@published_to_test[:created_at].to_time) %>
          <% end %>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Version ID
        </dt>
        <dd class="govuk-summary-list__value">
          <% if @published_to_test[:version_id].present? %>
            <%= link_to @published_to_test[:version_id],
                admin_service_version_path(@service.service_id, @published_to_test[:version_id])
            %>
          <% end %>
        </dd>
      </div>
    </dl>
    <% if @published_to_test[:id].present? %>
    <%= link_to 'Unpublish Test', admin_service_unpublish_path(
        @service.service_id, @published_to_test[:id], 'dev'),
        method: :post,
        class: "govuk-button fb-govuk-button",
        disable_with: 'Unpublishing. . .'
    %>
    <%= link_to 'Re-publish Test', admin_service_republish_path(
      @service.service_id, @published_to_test[:id], 'dev'),
      method: :post,
      class: "govuk-button fb-govuk-button",
      disable_with: 'Re-publishing. . .'
    %>
    <% end %>

    <h2 class="govuk-heading-m govuk-!-margin-top-5">
      Latest Metadata
    </h2>
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Version created by
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @version_creator.name %>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Version created at
        </dt>
        <dd class="govuk-summary-list__value">
          <%= l(@latest_metadata['created_at'].to_time) %>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Version ID
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @latest_metadata['version_id'] %>
        </dd>
      </div>
    </dl>

    <a href="<%= edit_admin_service_version_path(@service.service_id, @latest_metadata['version_id']) %>" class="govuk-button fb-govuk-button">Edit</a>

    <pre class="govuk-!-padding-right-5" style="white-space:pre-wrap;">
      <%= JSON.pretty_generate(@latest_metadata) %>
    </pre>

    <table class="govuk-table govuk-!-margin-top-5">
      <caption class="govuk-table__caption govuk-table__caption--m">Versions</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Version ID</th>
          <th scope="col" class="govuk-table__header">Created at</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <% @versions.each do |version| %>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <%= link_to version.version_id, admin_service_version_path(@service.service_id, version.version_id) %>
            </td>
            <td class="govuk-table__cell">
              <%= link_to l(version.created_at.to_time), admin_service_version_path(@service.service_id, version.version_id) %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</section>
