<div data-controller="conditional" data-conditionals-target="conditional" data-conditional-title-value="Branch" >
  <section class="branch conditional" data-conditional-index="<%= conditional.options[:child_index]%>">
    <h3 class="govuk-heading-l" data-conditional-target="title">Branch <%= conditional.options[:child_index].to_i+1 %></h3>
    <%= button_tag 'Delete rule', type: "button", data: { action: "conditional#deleteWithConfirmation", conditional_target: "deleteButton" }, class: 'prevent-modal-close icon-button icon-button--remove conditional__remover' %>

    <div class="conditional__expressions" data-controller="dynamic-fields expressions">
      <%= conditional.fields_for :expressions do |expression| %>
        <%= render 'expression_fields', conditional: conditional, expression: expression, branch_uuid: branch_uuid  %>
      <% end %>

      <template data-dynamic-fields-target="template">
        <%= conditional.fields_for :expressions, Expression.new, child_index: "__CHILD_INDEX__" do |expression| %>
          <%= render 'expression_fields', conditional: conditional, expression: expression, branch_uuid: branch_uuid  %>
        <% end %>
      </template>

      <%= button_tag I18n.t('conditional_content.add_condition'), type: 'button', data: { action: 'dynamic-fields#add'}, class: 'govuk-link fb-link-button prevent-modal-close' %>

      <div class="conditional__question govuk-!-margin-top-5 govuk-form-group <%= conditional.object.errors[:next].any? ? 'govuk-form-group--error' : '' %>">

        <% if conditional.object.errors[:next].any? %>
          <p id="branch_conditionals_attributes_<%= conditional.options[:child_index] %>_next_error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span>
            <%= conditional.object.errors[:next].first + (conditional.options[:child_index]+1).to_s %>
          </p>
        <% end %>
        <%= conditional.label :next, t('branches.goto') %>

        <select class="govuk-select conditional__destination"
                name="branch[conditionals_attributes][<%= conditional.options[:child_index] %>][next]"
                id="branch_conditionals_attributes_<%= conditional.options[:child_index] %>_next"
                aria-describedby="<%= conditional.object.errors[:next].any? ? 'branch_conditionals_attributes_'+conditional.options[:child_index].to_s+'_next_error' : '' %>">
          <option value=""><%= t('branches.select_destination') %></option>
          <%= render partial: "destinations_list",
            locals: {
              destinations: branch_destinations,
              selected: conditional.object.next
            }
          %>
          <% if branch_detached_destinations.present? %>
            <optgroup class="branch-optgroup" label="<%= t('branches.detached_list') %>">
              <%= render partial: "destinations_list",
                locals: {
                  destinations: branch_detached_destinations,
                  selected: conditional.object.next
                }
              %>
            </optgroup>
          <% end %>
        </select>
      </div>

    </div>
  </section>
  <div class="conditional-separator">or</div>
</div>

