<div  class="expression govuk-form-group <%= expression.object.errors.any? ? 'error' : '' %>"
      data-expressions-target="expression"
      data-conditional-target="expression"
      data-controller="expression"
      data-expression-error-class="error"
      data-expression-index-value=""
      data-expression-first-label-value="<%= t('branches.expression.if') %>"
      data-expression-other-label-value="<%= t('branches.expression.and') %>">

  <%= button_tag 'Delete condition', type: "button", data: { action: "expression#deleteWithConfirmation", expression_target: "deleteButton"}, class: 'prevent-modal-close icon-button icon-button--remove expression__remover' %>


    <div class="conditional__question">
      <% if expression.object.errors[:component].any? %>
        <p id="condition_<%= conditional.options[:child_index] %>_expression_<%= expression.options[:child_index] %>_component_error" class="govuk-error-message">
          <span class="govuk-visually-hidden">Error:</span>
          <%= expression.object.errors[:component].first %>
        </p>
      <% end %>

      <div class="label" data-expression-target="label"><%= t('branches.expression.if') %></div>
      <%= expression.select :component,
        @branch.previous_questions,
        { include_blank: t('branches.select_question') },
        { class: "govuk-select expression__component #{ expression.object.errors[:component].any? ? 'govuk-select--error' : '' }",
          'aria-label': 'Source question',
          'aria-describedby': ( "condition_#{conditional.options[:child_index]}_expression_#{expression.options[:child_index]}_component_error" if expression.object.errors[:component].any? ),
          data: {
            action: 'change->expression#getCondition',
            expression_target: 'question',
            expression_url_param: api_service_branch_expressions_path(service.service_id, @branch.flow_uuid, conditional.options[:child_index], expression.options[:child_index], '--componentId--'),
          },
        }
      %>
      <p class="expression__error" data-expression-target="errorMessage" data-error-type='unsupported' role="alert" hidden><%= t('activemodel.errors.messages.unsupported') %></p>
    </div>

    <%= render partial: 'expression_condition',
      locals: {
        f: default_form_builder.new(:expression, expression.object, self, {}),
        expression: expression.object,
        conditional_index: conditional.options[:child_index],
        expression_index: expression.options[:child_index]
      }
    %>
</div>
