<%= f.hidden_field :previous_flow_uuid, value: @branch.previous_flow_uuid %>
<%= render 'form_conditionals', f: f %>

<div class="branch-actions">
  <a class="govuk-link" href="#" id="add-another-branch"><%= t('branches.branch_add') %></a>
</div>

<div class="branch" id="branch-otherwise">
  <p><%= t('branches.title_otherwise') %></p>
  <div class="destination">
    <div class="govuk-form-group <%= @branch.errors[:default_next].empty? ? '' : 'govuk-form-group--error' %>">

      <% @branch.errors[:default_next].each do |message| %>
        <span class="govuk-error-message"><%= message %></span>
      <% end %>

      <%= f.label :default_next, t('branches.goto'), { class: "govuk-label" } %>
      <%= f.select :default_next,
      @branch.pages,
      { selected: @branch.previous_flow_default_next},
      { class: 'govuk-select' } %>
    </div>
    <p class="govuk-!-font-weight-bold"><%= t('branches.hint_otherwise') %></p>
  </div>
</div>

<%= f.submit t('actions.save'), class: 'govuk-button fb-govuk-button', id: 'fb-editor-save' %>
