<%= f.hidden_field :previous_flow_uuid, value: @branch.previous_flow_uuid %>
<%= f.hidden_field :branch_uuid, value: @branch.branch_uuid %>

<div id="conditionals-status" class="govuk-visually-hidden" data-controller="conditionals-status" role="alert"></div>
<p id="source_question_hint" hidden><%= t('branches.hints.question') %></p>
<p id="operator_hint" hidden><%= t('branches.hints.operator') %></p>
<p id="value_hint" hidden><%= t('branches.hints.value') %></p>
<p id="destination_hint" hidden><%= t('branches.hints.destination') %></p>
<p id="destination_otherwise_hint" hidden><%= t('branches.hints.destination_otherwise') %></p>

<div class="conditionals" data-controller="dynamic-fields conditionals" data-selection-reveal-target="reveal" data-action="dynamic-fields:fieldsAdded->conditionals#newConditionalAdded" tabindex="-1">

  <%= f.fields_for :conditionals, child_index: conditional_index do |conditional| %>
    <%= render 'conditional_fields', conditional: conditional, f: f, branch_uuid: @branch.branch_uuid %>
  <% end %>

  <template data-dynamic-fields-target="template">
    <%= f.fields_for :conditionals, Conditional.new(expressions: [Expression.new]), child_index: "__CHILD_INDEX__" do |conditional| %>
      <%= render 'conditional_fields', conditional: conditional, f: f, branch_uuid: @branch.branch_uuid %>
    <% end %>
  </template>

  <div class="panel">
    <%= button_tag I18n.t('branches.branch_add'), 
      type: 'button', 
      data: {
        action: 'dynamic-fields#add',
        dynamic_fields_type_param: 'conditional'
      },
      class: 'govuk-link fb-link-button prevent-modal-close'
    %>
  </div>
</div>

<p class="conditional-separator">or</p>

<div class="panel conditional conditional--otherwise">
  <h2 class="govuk-heading-l">
    <%= t('branches.title_otherwise') %>
    <span class="govuk-heading-m"><%= t('branches.hint_otherwise') %></span>
  </h2>

  <div class="conditional__row expression govuk-form-group <%= @branch.errors[:default_next].empty? ? '' : 'govuk-form-group--error error' %>">
    
    <div class="expression__label">
      <%= t('branches.goto') %>
    </div>

    <div class="expression__question expression__question--no-border">
      <% if @branch.errors[:default_next].any? %>
        <p id="branch_default_next_error" class="govuk-error-message">
          <span class="govuk-visually-hidden"><%= t('activemodel.errors.assistive_prefix') %></span>
          <%= @branch.errors[:default_next].first.message %>
        </p>
      <% end %>

      <p class="govuk-visually-hidden" id="branch_default_next_hint">The page that will be displayed if none of the branches have their conditions matched</p>
      <select class="govuk-select expression__component" name="branch[default_next]" id="branch_default_next" class="conditional__destination" aria-label="Destination page" aria-describedby="branch_default_next_error branch_default_next_hint destination_otherwise_hint">
        <%= render partial: "destinations_list",
          locals: {
            destinations: branch_destinations,
            selected: @branch.previous_flow_default_next
          }
        %>
        <% if branch_detached_destinations.present? %>
          <optgroup class="branch-optgroup" label="<%= t('branches.detached_list') %>">
            <%= render partial: "destinations_list",
              locals: {
                destinations: branch_detached_destinations,
                selected: @branch.previous_flow_default_next
              }
            %>
          </optgroup>
        <% end %>
      </select>
    </div>
  </div>
</div>

<%= f.submit t('actions.save'), class: 'govuk-button fb-govuk-button', id: 'fb-editor-save' %>
