<%= conditional.fields_for :expressions do |expression| %>
  <div class="condition govuk-form-group
              <%= expression.object.errors[:component].empty? ? '' : 'govuk-form-group--error' %>
             ">

    <% expression.object.errors[:component].each do |message| %>
      <p class="govuk-error-message"><%= message + (conditional.index + 1).to_s %></p>
    <% end %>

    <div class="question">
      <%= expression.label :component, t('branches.expression.if'), { class: "govuk-label" } %>
      <%= expression.select :component,
        @branch.previous_questions,
        { include_blank: t('branches.select_question') },
        { class: 'govuk-select' }
      %>
    </div>

    <%# When creating a new conditional object the component will not have been chosen yet %>
    <% if expression.object.component.present? %>
        <%= render partial: 'expression_answers',
                  locals: {
                    f: default_form_builder.new(:expression, expression.object, self, {}),
                    expression: expression.object,
                    conditional_index: conditional.index,
                    expression_index: expression.index
                  }
        %>
    <% end %>
    <button class="condition-remover destructive"><%= t('branches.condition_remove') %></button>

  </div>
<% end %>
