<%= f.hidden_field :previous_flow_uuid, value: @branch.previous_flow_uuid %>
<%= f.hidden_field :branch_uuid, value: @branch.branch_uuid %>
<%= render 'form_conditionals', f: f %>
<p class="branch-or">or</p>

<div class="branch-actions">
  <button class="govuk-link fb-link-button" id="add-another-branch"><%= t('branches.branch_add') %></button>
</div>
<p class="branch-or">or</p>

<div class="branch" id="branch-otherwise">
  <h3 class="name govuk-heading-l">
    <%= t('branches.title_otherwise') %>
    <span class="name govuk-heading-m"><%= t('branches.hint_otherwise') %></span>
  </h3>
  <div class="destination govuk-form-group <%= @branch.errors[:default_next].empty? ? '' : 'govuk-form-group--error' %>">
    <% @branch.errors[:default_next].each do |message| %>
      <p class="govuk-error-message"><%= message %></p>
    <% end %>

    <div class="fields">
      <label class="govuk-label" for="branch_default_next"><%= t('branches.goto') %></label>
      <select class="govuk-select" name="branch[default_next]" id="branch_default_next">
        <%= render partial: "destinations_list",
                  locals: {
                    destinations: @branch.main_destinations,
                    selected: @branch.previous_flow_default_next
                  }
        %>
        <% if @branch.detached_destinations.present? %>
          <optgroup class="branch-optgroup" label="<%= t('branches.detached_list') %>">
            <%= render partial: "destinations_list",
                      locals: {
                        destinations: @branch.detached_destinations,
                        selected: @branch.previous_flow_default_next
                      }
            %>
          </optgroup>
        <% end %>
      </select>
    </div>
  </div>
</div>

<%= f.submit t('actions.save'), class: 'govuk-button fb-govuk-button', id: 'fb-editor-save' %>
