
  <div class="branch">
    <p>Branch ...</p>
    <%= f.hidden_field :previous_flow_uuid, value: @branch.previous_flow_uuid %>
    <%= render 'form_conditionals', f: f %>
  </div>

  <div class="branch" id="branch-otherwise">
    <p>Otherwise</p>
    <div class="destination">
      <div class="govuk-form-group">
        <%= f.label :default_next, "Go to", { class: "govuk-label" } %>
        <%= f.select :default_next,
        @branch.pages,
        { include_blank: '--- Select a destination page ---' },
        { class: 'govuk-select' } %>
      </div>
    </div>
  </div>

  <%= f.submit t('actions.save'), class: 'govuk-button fb-govuk-button', id: 'fb-editor-save' %>
