<%= render partial: 'error_summary' %>

<div class="branches edit">
  <h1 class="govuk-heading-xl">
  <h1 class="fb-editable govuk-heading-xl"
      data-fb-content-id="page[heading]"
      data-fb-content-type="element">
    <%= @branch.title %>
  </h1>
  <%
=begin%>
 <p class="govuk-heading-m"><%= t('branches.after', page_title: @branch.foo) %></p>
<%
=end%>

  <%= form_for @branch,
    url: branch_path(service.service_id, @branch.branch_uuid),
    method: :put do |f| %>
    <%= render 'form', f: f %>
  <% end %>
</div>
