<div class="branches edit">
  <%= render partial: 'error_summary' %>

  <h1 class="fb-editable govuk-heading-xl"
      data-fb-content-id="page[heading]"
      data-fb-content-type="element">
    <%= @branch.title %>
  </h1>

  <% if @branch.previous_page_title.present? %>
    <h2 class="govuk-heading-m"><%= t('branches.after', page_title: @branch.previous_page_title) %></h2>
  <% end %>

  <%= form_for @branch,
    url: branch_path(service.service_id, @branch.branch_uuid),
    method: :put do |f| %>
    <%= render 'form', f: f %>
  <% end %>
</div>
