  <%= form_for(object,
          url: admin_service_api_submission_index_path(params[:service_id]),
      method: :create,
      builder: GOVUKDesignSystemFormBuilder::FormBuilder) do |f| %>


    <h2 class="govuk-heading-m govuk-!-margin-top-5">
      API Submission
    </h2>
      <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          SERVICE_OUTPUT_JSON_ENDPOINT
        </dt>
        <dd class="govuk-summary-list__value govuk-input">
          <%= f.text_field :endpoint_url %>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          SERVICE_OUTPUT_JSON_KEY
        <dd class="govuk-summary-list__value">
        </dt>
          <%= f.text_field :endpoint_key %>
        </dd>
      </div>
    </dl>

    <%= f.hidden_field(:service, value: @service) %>

    <%= submit_tag "Edit values" %>
      <% end %>

  </div>
