  <%# <%= form_for(object,
          url: admin_service_api_submission_index_path(params[:service_id]),
      method: :create,
      builder: GOVUKDesignSystemFormBuilder::FormBuilder) do |f| %> %>



  <%= form_for object,
    url: admin_service_api_submission_index_path(service.service_id),
    html: {
      id: "api-submission-#{deployment_environment}",
      class: 'collect-info-environment-config govuk-!-margin-top-8'
    },
    builder: GOVUKDesignSystemFormBuilder::FormBuilder do |f| %>


    <%= f.hidden_field :deployment_environment, value: deployment_environment, id: "deployment_environment_#{deployment_environment}" %>

        <div class="govuk-form-group">
      <div class="govuk-form-group">
        <%= 'Service Name' %>
        <%=f.object.service.service_name %>
      </div>
      <%= f.govuk_text_field :value,
      label: {
        text: 'Value',
        for: settings_field_id(f, :value, deployment_environment)
      },
      width: 'two-thirds',
      id: settings_field_id(f, :value, deployment_environment),
      hint: {
        text: 'A value here'
        } %>
    </div>




    <h2 class="govuk-heading-m govuk-!-margin-top-5">
      API Submission
    </h2>
      <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          SERVICE_OUTPUT_JSON_ENDPOINT
        </dt>
        <dd class="govuk-summary-list__value govuk-input">
          <%= f.text_field :endpoint_url %>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          SERVICE_OUTPUT_JSON_KEY
        <dd class="govuk-summary-list__value">
        </dt>
          <%= f.text_field :endpoint_key %>
        </dd>
      </div>
    </dl>

    <%= f.hidden_field(:service, value: @service) %>

    <%= submit_tag "Edit values" %>
      <% end %>

  </div>
