<%= form_for object,
  url: admin_service_api_submission_index_path(service.service_id),
  html: {
    id: "api-submission-#{deployment_environment}",
    class: 'govuk-!-margin-top-8'
  },
  builder: GOVUKDesignSystemFormBuilder::FormBuilder do |f| %>

  <%= f.hidden_field :deployment_environment, value: deployment_environment, id: "deployment_environment_#{deployment_environment}" %>

  <div class="govuk-form-group">
    <div class="govuk-form-group govuk-heading-m govuk-!-margin-top-5">
      <%= 'Settings for ' %>
      <%= deployment_environment %>
      <%= ' environment for ' %>
      <%=f.object.service.service_name %>
    </div>
    <%= f.govuk_text_field :service_output_json_endpoint,
    label: {
      text: 'Endpoint url',
      for: settings_field_id(f, :service_output_json_endpoint, deployment_environment)
    },
    width: 'two-thirds',
    id: settings_field_id(f, :service_output_json_endpoint, deployment_environment),
    hint: {
      text: 'This is the JSON output endpoint URL'
      } %>
  </div>
  <%= :service_output_json_key %>
  <%= @service_output_json_key %>
  <% if @service_output_json_key %>
    <%= mask_value('SERVICE_OUTPUT_JSON_KEY', @service_output_json_key) %>
  <% end %>

  </div>
    <%= f.govuk_password_field :service_output_json_key,
    label: {
      text: 'Endpoint key',
      for: settings_field_id(f, :service_output_json_key, deployment_environment)
    },
    width: 'two-thirds',
    id: settings_field_id(f, :service_output_json_key, deployment_environment),
    hint: {
      text: 'This is the JSON output endpoint key'
      } %>
  </div>

  <button type="submit" class="govuk-button fb-govuk-button" data-module="govuk-button">
    <%= "Save settings for #{deployment_environment}" %>
  </button>

<% end %>
