<% content_for(:title) do %>
  <%= display_resource_name('Service') %>
<% end %>

<header class="main-content__header" role="banner">
  <h1 class="main-content__page-title" id="page-title">
    <%= 'API Submission Settings' %>
  </h1>
</header>

<section class="main-content__body">
  <dl class="govuk-summary-list">

  <% if ENV['API_SUBMISSION'] == 'enabled' %>

      <%# <%= form_with(
        url: admin_service_api_submission_index_path(params[:id]),
        method: :post,
        local: true, object:object) do |f| %> %>

<%# <% form_for :person, @person, :url => { :action => "create" } do |person_form| %> %>

<%# <%= form_for @article, url: {action: "create"}, html: {class: "nifty_form"} do |f| %> %>

<%# <%= form_for(@maintenance_mode_settings,
               url: admin_service_path(@service.service_id),
               method: :put,
               builder: GOVUKDesignSystemFormBuilder::FormBuilder) do |f| %> %>

    <%= form_for(@api_submission,
     url: admin_service_api_submission_index_path(@service.service_id),
     method: :post,
     builder: GOVUKDesignSystemFormBuilder::FormBuilder) do |f| %>

    <h2 class="govuk-heading-m govuk-!-margin-top-5">
      API Submission
    </h2>
      <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          SERVICE_OUTPUT_JSON_ENDPOINT
        <%# <%= f.label :api_submission.api_json_endpoint_url, "SERVICE_OUTPUT_JSON_ENDPOINT?" %> %>
        <%# <% @api_submission.api_json_endpoint_url%> %>
        <% @service.anewmessage%>
        <%= object.service_id%>

        </dt>
        <dd class="govuk-summary-list__value govuk-input">

          <%= f.text_field :api_json_endpoint_url %>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          SERVICE_OUTPUT_JSON_KEY
        <dd class="govuk-summary-list__value">
        </dt>
          <%= f.text_field :api_json_endpoint_key %>
        </dd>
      </div>
    </dl>

    <%= f.hidden_field(:service, value: @service) %>

      <%# <%= f.submit 'Save API Submission Settings', class: 'govuk-button fb-govuk-button', id: 'api-submission-save' %> %>

    <%= submit_tag "Edit values" %>
      <% end %>
  <% end %>

    </div>
</section>
