<% if ENV['API_SUBMISSION'] == 'enabled' %>
      <%= form_with(
        url: admin_service_api_submission_settings_path(params[:id]),
        method: :put,
        local: true) do |f| %>
    <h2 class="govuk-heading-m govuk-!-margin-top-5">
      API Submission
    </h2>
      <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          SERVICE_OUTPUT_JSON_ENDPOINT
        <%# <%= f.label :api_submission.api_json_endpoint_url, "SERVICE_OUTPUT_JSON_ENDPOINT?" %> %>
        <%# <% @api_submission.api_json_endpoint_url%> %>
        <% @service.anewmessage%>
        </dt>
        <dd class="govuk-summary-list__value govuk-input">
          <%= f.text_field :api_json_endpoint_url %>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          SERVICE_OUTPUT_JSON_KEY
        <dd class="govuk-summary-list__value">
        </dt>
          <%= f.text_field :api_json_endpoint_key %>
        </dd>
      </div>
    </dl>

      <%= f.submit 'Save API Submission Settings', class: 'govuk-button fb-govuk-button', id: 'version-save' %>
      <% end %>
  <% end %>
