<h1>API Submission config</h1>

<table>
  <thead>
    <tr>
      <th>url</th>
      <th>key</th>
      <th colspan="3"></th>
    </tr>
  </thead>

    <a href="/admin/services/<%=params[:service_id]%>"class="govuk-back-link govuk-!-margin-top-0 govuk-!-margin-bottom-0">
      Back the service
    </a>


  <tbody>
      <tr>
        <td><%= @api_submission.endpoint_url %></td>
        <td><%= @api_submission.endpoint_key %></td>
        <%# <td><%= link_to "Edit", edit_admin_service_api_submission_path(@api_submission) %></td>
      </tr>
  </tbody>
</table>

   <%= form_for(@api_submission,
     url: admin_service_api_submission_index_path(params[:service_id]),
     method: :post,
     builder: GOVUKDesignSystemFormBuilder::FormBuilder) do |f| %>

    <h2 class="govuk-heading-m govuk-!-margin-top-5">
      API Submission
    </h2>
      <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          SERVICE_OUTPUT_JSON_ENDPOINT
        </dt>
        <dd class="govuk-summary-list__value govuk-input">
          <%= f.text_field :endpoint_url %>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          SERVICE_OUTPUT_JSON_KEY
        <dd class="govuk-summary-list__value">
        </dt>
          <%= f.text_field :endpoint_key %>
        </dd>
      </div>
    </dl>

    <%= f.hidden_field(:service, value: @service) %>

      <%# <%= f.submit 'Save API Submission Settings', class: 'govuk-button fb-govuk-button', id: 'api-submission-save' %> %>

    <%= submit_tag "Edit values" %>
      <% end %>

<br>

