<% content_for(:title) do %>
  <%= display_resource_name('Service') %>
<% end %>

<header class="main-content__header" role="banner">
  <h1 class="main-content__page-title" id="page-title">
    <%= 'Index API Submission Settings' %>
  </h1>
</header>

<section class="main-content__body main-content__body--flush">

  <a href="/admin/services/<%=params[:service_id]%>"class="govuk-back-link govuk-!-margin-top-0 govuk-!-margin-bottom-0">
    Back to the service
  </a>

  <div class="govuk-!-margin-left-5">
    <%= form_for(@api_submission,
      url: admin_service_api_submission_index_path(params[:service_id]),
      method: :create,
      builder: GOVUKDesignSystemFormBuilder::FormBuilder) do |f| %>

      <h2 class="govuk-heading-m govuk-!-margin-top-5">
        API Submission in Test Environment
      </h2>
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            SERVICE_OUTPUT_JSON_ENDPOINT
          </dt>
          <dd class="govuk-summary-list__value">
            <%= f.text_field :endpoint_url %>
          </dd>
        </div>
        <%= f.hidden_field(:service_id, value: @service_id)%>
        <%= f.hidden_field(:deployment_environment, value: 'dev')%>
        <%= f.hidden_field(:url_or_key, value: 'url')%>
        <%= submit_tag "Save values for url for dev" %>
      <% end %>

    <%= form_for(@api_submission,
      url: admin_service_api_submission_index_path(params[:service_id]),
      method: :create,
      builder: GOVUKDesignSystemFormBuilder::FormBuilder) do |f| %>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            SERVICE_OUTPUT_JSON_KEY
          </dt>
          <dd class="govuk-summary-list__value">
            <%= f.text_field :endpoint_key %>
          </dd>
        </div>
      </dl>
        <%= f.hidden_field(:service_id, value: @service_id)%>
        <%= f.hidden_field(:deployment_environment, value: 'dev')%>
        <%= f.hidden_field(:url_or_key, value: 'key')%>

        <%= submit_tag "Save values for key for dev" %>
      <% end %>
    </div>

  <div>

  This is values from controller for url dev:
    <%= @url_dev %>

    <br> And this is for key dev :
    <%= @key_dev %>


    <%# <%= form_with url: admin_service_api_submission_path(params[:service_id],0),
        method: :delete do |form| %>
        <%# <%= form.submit('Delete', class: 'govuk-button govuk-button--warning') %> %>
    <%# <% end %> %> %>
  </div>

    <div class="govuk-!-margin-left-5">
    <%= form_for(@api_submission,
      url: admin_service_api_submission_index_path(params[:service_id]),
      method: :create,
      builder: GOVUKDesignSystemFormBuilder::FormBuilder) do |f| %>

      <h2 class="govuk-heading-m govuk-!-margin-top-5">
        API Submission in Production
      </h2>
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            SERVICE_OUTPUT_JSON_ENDPOINT
          </dt>
          <dd class="govuk-summary-list__value">
            <%= f.text_field :endpoint_url %>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            SERVICE_OUTPUT_JSON_KEY
          </dt>
          <dd class="govuk-summary-list__value">
            <%= f.text_field :endpoint_key %>
          </dd>
        </div>
      </dl>
        <%= f.hidden_field(:service_id, value: @service_id)%>
        <%= f.hidden_field(:deployment_environment, value: 'production')%>

        <%= submit_tag "Save values" %>
      <% end %>
  </div>
</section>
