<section class="publish-environment publish-environment--<%=environment%>">
  <% if show_confirmation? %>
    <p class="description"><%= t("publish.#{environment}.description") %></p>

    <div class="govuk-panel govuk-panel--confirmation">
      <h3 class="govuk-panel__title"><%= t("publish.publish_for_review.confirmation.heading") %></h1>
      <p><%= t("publish.publish_for_review.confirmation.text") %></p>
    </div>
  <% else %>
    <p class="description"><%= t("publish.#{environment}.description") %></p>

    <br/>

    <% if presenter.service_output_warning.present? %>
      <%= render('publish/warnings/service_output', warning: presenter.service_output_warning) %>
    <% end %>

    <% if environment == 'production' %>
      <% if presenter.service_output_warning.blank? || presenter.autocomplete_warning.messages.any? %>
        <%= render('publish/warnings/submission', warning: presenter.submission_warnings, environment: environment)  %>
      <% end %>
    <% end %>

    <h3><%= t('publish.publish_for_review.info.heading') %></h3>

    <p><%= t('publish.publish_for_review.info.content', href: govuk_link_to(t('publish.publish_for_review.info.link_text'), t('publish.publish_for_review.info.link_url'))).html_safe %></p>
    <br/>

    <%= form_for(@declarations, url: publish_for_review_service_path(service.service_id)+'#publish-to-live', action: :post, builder: GOVUKDesignSystemFormBuilder::FormBuilder) do |form| %>

      <%= form.govuk_error_summary link_base_errors_to: :declarations_checkboxes %>
      <%= form.govuk_check_boxes_fieldset :declarations_checkboxes, legend: { text: "Confirm you have taken all of the following actions to request your final check", size: "s" } do %>
        <%= form.govuk_check_box :declarations_checkboxes, :declaration_1,
          link_errors: true,
          label: { text: t('publish.declarations.one', href: govuk_link_to(t('publish.declarations.one_link_text'), t('publish.declarations.one_link_ref'))).html_safe },
          checked: @declarations.declaration_1
        %>
        <%= form.govuk_check_box :declarations_checkboxes, :declaration_2,
          link_errors: true,
          label: { text: t('publish.declarations.two', href: govuk_link_to(t('publish.declarations.two_link_text'), t('publish.declarations.two_link_ref'))).html_safe },
          checked: @declarations.declaration_2
        %>
        <%= form.govuk_check_box :declarations_checkboxes, :declaration_3,
          link_errors: true,
          label: { text: t('publish.declarations.three', href: govuk_link_to(t('publish.declarations.three_link_text'), t('publish.declarations.three_link_ref'))).html_safe },
          checked: @declarations.declaration_3
        %>
        <%= form.govuk_check_box :declarations_checkboxes, :declaration_4,
          link_errors: true,
          label: { text: t('publish.declarations.four', href: govuk_link_to(t('publish.declarations.four_link_text'), t('publish.declarations.four_link_ref'))).html_safe },
          checked: @declarations.declaration_4
        %>
        <%= form.govuk_check_box :declarations_checkboxes, :declaration_5,
          link_errors: true,
          label: { text: t('publish.declarations.five') },
          checked: @declarations.declaration_5
        %>
        <%= form.govuk_check_box :declarations_checkboxes, :declaration_6,
          link_errors: true,
          label: { text: t('publish.declarations.six', href: govuk_link_to(t('publish.declarations.six_link_text'), t('publish.declarations.six_link_ref'))).html_safe },
          checked: @declarations.declaration_6
        %>
      <% end %>
      <%= form.govuk_submit t('publish.publish_for_review.button'), class: 'fb-govuk-button' %>
    <% end %>
  <% end %>
</section>
