<section class="publish-environment publish-environment--<%=environment%>">
  <h2 class="govuk-heading-l"><%= t("publish.#{environment}.heading") %></h2>
  <p class="description"><%= t("publish.#{environment}.description") %></p>

  <% if published_service.published? %>
    <% if published_service.first_publish? %>
      <%= render 'first_publish_message', environment: environment, service_id: service.service_id %>
    <% end %>

    <p><%= govuk_link_to published_service.url, published_service.url, target: '_blank', rel: 'noopener noreferrer' %></p>
  <% end %>

  <% if presenter.service_output_warning.present? %>
    <%= render 'publish/warnings/service_output', warning: presenter.service_output_warning %>
  <% else %>
    <%= render 'publish/warnings/submission', warning: presenter.submission_warnings, environment: environment %>
    <% if environment == 'dev' %>
      <%= render 'publish/warnings/from_address', warning: presenter.from_address_warning, environment: environment %>
      <%= render 'publish/warnings/autocomplete', warning: presenter.autocomplete_warning, environment: environment %>
    <% end %>
  <% end %>

  <button class="govuk-button fb-govuk-button"
      data-module="govuk-button"
      type="button"
      data-fb-action="publish"
      aria-disabled="<%= presenter.publish_button_disabled? %>"
      hidden >
      <%= t("publish.#{environment}.button") %>
  </button>

  <%= form_for(presenter.publish_creation,
      url: publish_index_path(service.service_id),
      html: { id: "publish-form-#{environment}", class: 'publish-form', data: { first_publish: false } }) do |f| %>

    <%= render 'form', f: f, deployment_environment: environment %>

    <div class="govuk-button-group govuk-!-margin-bottom-0">
      <button class="govuk-button fb-govuk-button" type="submit">
        <%= t("publish.#{environment}.button") %>
      </button>

      <button class="govuk-button govuk-button--secondary" data-module="govuk-button" type="button">
        <%= t('actions.cancel') %>
      </button>
    </div>
  <% end %>
</section>
