<section class="publish-environment publish-environment--<%=environment%>">
  <% if show_confirmation? %>
    <p class="description"><%= t("publish.#{environment}.description") %></p>

    <div class="govuk-panel govuk-panel--confirmation">
      <h2 class="govuk-panel__title govuk-heading-m"><%= t("publish.publish_for_review.confirmation.heading") %></h2>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <p class="description">
          <h3 class="govuk-heading-m"><%= t("publish.publish_for_review.confirmation.subheading") %></h3>
          <p><%= t("publish.publish_for_review.confirmation.text_1") %></p>
          <p><%= t("publish.publish_for_review.confirmation.text_2") %></p>
          <p><%= t("publish.publish_for_review.confirmation.ul") %></p>
          <ul>
            <li><%= t("publish.publish_for_review.confirmation.li_1") %></li>
            <li><%= t("publish.publish_for_review.confirmation.li_2") %></li>
          </ul>
          <p><%= t("publish.publish_for_review.confirmation.text_3") %></p>
          <p><%= t("publish.publish_for_review.confirmation.text_4", href: govuk_link_to((t('publish.publish_for_review.confirmation.text_4_link_text') + tag.span(t('assistive_text.new_tab'), class: 'govuk-visually-hidden')).html_safe, t('publish.publish_for_review.confirmation.text_4_link_ref'), target: '_blank', rel: 'noreferrer nofollow')).html_safe %></p>
        </p>
      </div>
    </div>
  <% else %>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <%= form_for(@declarations, url: publish_for_review_service_path(service.service_id)+'#publish-to-live', action: :post, builder: GOVUKDesignSystemFormBuilder::FormBuilder) do |form| %>
          <%= form.govuk_error_summary link_base_errors_to: :declarations_checkboxes %>
          <p class="description"><%= t("publish.#{environment}.description") %></p>

          <div class="warnings">
            <% if presenter.service_output_warning.present? %>
              <%= render('publish/warnings/service_output', warning: presenter.service_output_warning) %>
            <% end %>
      
            <% if environment == 'production' %>
              <% if presenter.service_output_warning.blank? || presenter.autocomplete_warning.messages.any? %>
                <%= render('publish/warnings/submission', warning: presenter.submission_warnings, environment: environment)  %>
              <% end %>
            <% end %>
          </div>
    
          <div class="review">
            <h2 class="govuk-heading-m"><%= t('publish.publish_for_review.info.heading') %></h2>
      
            <p>
              <%= t('publish.publish_for_review.info.content', href: govuk_link_to((t('publish.publish_for_review.info.link_text') + tag.span(t('assistive_text.new_tab'), class: 'govuk-visually-hidden')).html_safe, t('publish.publish_for_review.info.link_url'), target: '_blank', rel: 'noreferrer nofollow')).html_safe %>
              <%= t('publish.publish_for_review.info.content_2') %>
            </p>
          </div>
          <%= form.govuk_check_boxes_fieldset :declarations_checkboxes, legend: { text: t('publish.declarations.label'), size: "s" } do %>
            <%= form.govuk_check_box :declarations_checkboxes, :declaration_1,
              link_errors: true,
              label: { text: t('publish.declarations.one', href: govuk_link_to((t('publish.declarations.one_link_text') + tag.span(t('assistive_text.new_tab'), class: 'govuk-visually-hidden')).html_safe, t('publish.declarations.one_link_ref'), target: '_blank', rel: 'noreferrer nofollow')).html_safe },
              checked: @declarations.declaration_1,
              'aria-label':  t('publish.declarations.one', href: t('publish.declarations.one_link_text')).html_safe
            %>
            <%= form.govuk_check_box :declarations_checkboxes, :declaration_2,
              link_errors: true,
              label: { text: t('publish.declarations.two', href: govuk_link_to((t('publish.declarations.two_link_text') + tag.span(t('assistive_text.new_tab'), class: 'govuk-visually-hidden')).html_safe, t('publish.declarations.two_link_ref'), target: '_blank', rel: 'noreferrer nofollow')).html_safe },
              checked: @declarations.declaration_2,
              'aria-label':  t('publish.declarations.two', href: t('publish.declarations.two_link_text')).html_safe
            %>
            <%= form.govuk_check_box :declarations_checkboxes, :declaration_3,
              link_errors: true,
              label: { text: t('publish.declarations.three', href: govuk_link_to((t('publish.declarations.three_link_text') + tag.span(t('assistive_text.new_tab'), class: 'govuk-visually-hidden')).html_safe, t('publish.declarations.three_link_ref'), target: '_blank', rel: 'noreferrer nofollow')).html_safe },
              checked: @declarations.declaration_3,
              'aria-label':  t('publish.declarations.three', href: t('publish.declarations.three_link_text')).html_safe
            %>
            <%= form.govuk_check_box :declarations_checkboxes, :declaration_4,
              link_errors: true,
              label: { text: t('publish.declarations.four', href: govuk_link_to((t('publish.declarations.four_link_text') + tag.span(t('assistive_text.new_tab'), class: 'govuk-visually-hidden')).html_safe, t('publish.declarations.four_link_ref'), target: '_blank', rel: 'noreferrer nofollow')).html_safe },
              checked: @declarations.declaration_4,
              'aria-label':  t('publish.declarations.four', href: t('publish.declarations.four_link_text')).html_safe
            %>
            <%= form.govuk_check_box :declarations_checkboxes, :declaration_5,
              link_errors: true,
              label: { text: t('publish.declarations.five',  href: govuk_link_to((t('publish.declarations.five_link_text') + tag.span(t('assistive_text.new_tab'), class: 'govuk-visually-hidden')).html_safe, t('publish.declarations.five_link_ref'), target: '_blank', rel: 'noreferrer nofollow')).html_safe },
              checked: @declarations.declaration_5,
              'aria-label':  t('publish.declarations.five', href: t('publish.declarations.five_link_text')).html_safe
            %>
            <%= form.govuk_check_box :declarations_checkboxes, :declaration_6,
              link_errors: true,
              label: { text: t('publish.declarations.six', href: govuk_link_to((t('publish.declarations.six_link_text') + tag.span(t('assistive_text.new_tab'), class: 'govuk-visually-hidden')).html_safe, t('publish.declarations.six_link_ref'), target: '_blank', rel: 'noreferrer nofollow')).html_safe },
              checked: @declarations.declaration_6,
              'aria-label':  t('publish.declarations.six', href: t('publish.declarations.six_link_text')).html_safe
            %>
          <% end %>
          <%= form.govuk_submit t('publish.publish_for_review.button'), class: 'fb-govuk-button' %>
        <% end %>
      </div>
    </div>
  <% end %>
</section>
