  <div class="width-responsive">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-0"><%= t('publish.heading') %></h1>
    <div id="publish-environments">
      <%= govuk_tabs(title: 'Publish environment tabs', classes: ['moj-forms-tabs']) do |c|
        c.with_tab(label: 'Publish to Test') do %>
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
              <%= render 'publish_environment',
                environment: 'dev',
                presenter: @publish_page_presenter_dev,
                published_service: @published_dev
              %>
            <%= govuk_inset_text do %>
              <label class="govuk-label govuk-label--s"><%= t('publish.dev.inset_text_label') %></label>
              <p><%= t('publish.dev.inset_text_html', href: govuk_link_to(t('publish.dev.inset_text_link_text'), t('publish.dev.inset_text_href'))) %></p>
            <% end %>
          </div>
        </div>
        <% end %>
        <% c.with_tab(label: 'Publish to Live') do %>
          <% if can_publish_to_live %>
            <%= render 'publish_environment',
              environment: 'production',
              presenter: @publish_page_presenter_production,
              published_service: @published_production
            %>
          <% else %>
            <%= render 'publish_for_review',
              environment: 'production',
              presenter: @publish_page_presenter_production,
              published_service: @published_production
            %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
