  <div class="width-responsive-two-thirds">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-0"><%= t('publish.heading') %></h1>
    <p id="publish-intro">
      You are publishing the version from <span class="date version">
        <%= l(service.created_at.to_time.in_time_zone('London'), format: :date) %></span>
      <span class="time version">
        <%= l(service.created_at.to_time.in_time_zone('London'), format: :time) %></span>.
    </p>

    <div id="publish-environments">
      <%= govuk_tabs(title: 'Publish environment tabs') do |c|
        c.with_tab(label: 'dev fixme') do %>
          <%= render 'publish_environment',
            environment: 'dev',
            presenter: @publish_page_presenter_dev,
            published_service: @published_dev
          %>
          <%= govuk_inset_text do %>
            <label class="govuk-label govuk-label--s"><%= t('publish.dev.inset_text_label') %></label>
            <p><%= t('publish.dev.inset_text') %></p>
          <% end %>
        <% end %>
        <% c.with_tab(label: 'prod fixme') do %>
          <% if can_publish_to_live %>
            <%= render 'publish_environment',
              environment: 'production',
              presenter: @publish_page_presenter_production,
              published_service: @published_production
            %>
          <% else %>
            <%= render 'publish_for_review',
              environment: 'production',
              presenter: @publish_page_presenter_production,
              published_service: @published_production
            %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
