  <div class="width-responsive-two-thirds">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-0"><%= t('publish.heading') %></h1>
    <p id="publish-intro">
      You are publishing the version from <span class="date version">
        <%= l(service.created_at.to_time.in_time_zone('London'), format: :date) %></span>
      <span class="time version">
        <%= l(service.created_at.to_time.in_time_zone('London'), format: :time) %></span>.
    </p>

    <div id="publish-environments">
      <%= render 'publish_environment',
        environment: 'dev',
        presenter: @publish_page_presenter_dev,
        published_service: @published_dev
      %>
      <%= render 'publish_environment',
        environment: 'production',
        presenter: @publish_page_presenter_production,
        published_service: @published_production
      %>
    </div>
  </div>
