<h1 class="govuk-heading-xl"><%= t('publish.heading') %></h1>
<p id="publish-intro">
  <%# COMMENT: Should we have service.updated_at instead of creation date? %>
  You are publishing the version from <span class="date version">
  <%= l(service.created_at.to_time.in_time_zone('London'), format: :date) %></span>
  <span class="time version">
  <%= l(service.created_at.to_time.in_time_zone('London'), format: :time) %></span>.
  <%# TODO: Require BE to expose this data before we can see it %>
  <%# last updated by <span class="name by">C. Smith</span      %>
</p>

<% if @publish_warning.message.present? %>
  <div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-warning-text__assistive"><%= t('publish.warning.heading') %></span>
    <%= @publish_warning.message %>
  </strong>
</div>
<% end %>

<dl id="publish-environments">
  <dt class="environment govuk-heading-l"><%= t('publish.test.heading') %></dt>
  <dd>
    <p class="description"><%= t('publish.test.description') %></p>
    <%# TODO: Require BE to expose this data before we can see it. %>
    <%# p %>
      <%# t('publish.test.version') %>
      <%# span class="date version"><%= l(service.created_at.to_time, format: :date) %></span %>
      <%# span class="time version"><%= l(service.created_at.to_time, format: :time) %></span %>
      <%# span class="name by"><%= t('publish.test.by', name: 'C. Smith') %></span %>
    <%# /p %>

    <% if @published_dev %>
      <p><%= PublishServicePresenter.hostname_for(deployment_environment: 'dev', view: self) %></p>
    <% end %>

    <% if @publish_service_creation_dev.no_service_output? %>
      <%= render 'service_output_warning', environment: t('publish.environment.test') %>
    <% end %>

    <%# TODO: Need an indicator from BE code that shows whether this is first-time publish   %>
    <%#       Currently have hardcoded 'false' value to avoid dialog showing but this should %>
    <%#       be dynamic to control dialog visibility.                                        %>
    <%= form_for(@publish_service_creation_dev,
        url: publish_index_path(service.service_id),
        html: { id: 'publish-form-dev', class: 'publish-form', data: { first_publish: false } }) do |f| %>
      <%= render 'form', f: f, deployment_environment: 'dev' %>
      <%= f.submit t('actions.publish_to_test'), class: 'govuk-button fb-govuk-button' %>
    <% end %>
  </dd>

  <dt class="environment govuk-heading-l"><%= t('publish.live.heading') %></dt>
  <dd>
    <p class="description"><%= t('publish.live.description') %></p>
    <%# TODO: Require BE to expose this data before we can see it.%>
    <%# p %>
      <%# t('publish.live.version') %>
      <%# span class="date version"><%= l(service.created_at.to_time, format: :date) %></span %>
      <%# span class="time version"><%= l(service.created_at.to_time, format: :time) %></span %>
      <%# span class="name by"><%= t('publish.test.by', name: 'C. Smith') %></span %>
    <%# /p %>

    <% if @published_production %>
      <p><%= PublishServicePresenter.hostname_for(deployment_environment: 'production', view: self) %></p>
    <% end %>

    <% if @publish_service_creation_production.no_service_output? %>
      <%= render 'service_output_warning', environment: t('publish.environment.live') %>
    <% end %>

    <%# TODO: Hardcoded 'firstpublish' (see comment above) %>
    <%= form_for(@publish_service_creation_production,
        url: publish_index_path(service.service_id),
        html: { id: 'publish-form-live', class: 'publish-form', data: { first_publish: false } }) do |f| %>
      <%= render 'form', f: f, deployment_environment: 'production' %>
      <%= f.submit t('actions.publish_to_live'), class: 'govuk-button fb-govuk-button' %>
    <% end %>
  </dd>
</dl>
