<%= render MojForms::SettingsScreenComponent.new(
  heading:t('settings.reference_number.heading'),
  description: t('settings.reference_number.description',
                  href: t('settings.reference_number.href',
                    url: t('partials.header.user_guide_url')
                  )
                ).html_safe
  ) do |c| %>

  <% c.with_back_link(href: settings_path) %>

  <%= govuk_warning_text(text: t('settings.reference_number.warning'), html_attributes: { id: 'reference_number_warning' }) %>

    <%= form_for @reference_number, url: settings_reference_number_index_path(service.service_id),
    html: { id: 'reference-number-settings' },
    builder: GOVUKDesignSystemFormBuilder::FormBuilder do |f| %>

    <%= render partial: 'form', locals: { f: f } %>

    <button type="submit" class="govuk-button fb-govuk-button" data-module="govuk-button">
      <%= t('actions.save') %>
    </button>
    <% end %>
<% end %>
