    <div class="govuk-form-group">
      <% if ENV['REPLY_TO'] == "enabled" %>
        <div class="govuk-form-group">
          <%= t('activemodel.attributes.email_settings.service_email_from')%>
          <%=f.object.service.service_name %>
        </div>
        <%= f.govuk_text_field :reply_to,
        label: {
          text: t('activemodel.attributes.email_settings.reply_to'),
          for: settings_field_id(f, :reply_to, deployment_environment)
        },
        width: 'two-thirds',
        value: f.object.service_email_from,
        id: settings_field_id(f, :reply_to, deployment_environment),
        hint: -> do %>
        <div class="govuk-hint"
          id="confirmation-email-settings-reply-to-<%=deployment_environment%>-hint">
          <%= t('activemodel.attributes.confirmation_email_settings.reply_to_hint') %>
        </div>
        <% end %>
      <% else %>
        <%= t('activemodel.attributes.email_settings.service_email_from')%>
        <strong> "<%=f.object.service.service_name %>" </strong>
        <strong><%= f.object.service_email_from %></strong>

        <% unless @from_address.verified? %>
          <%= govuk_warning_text(text: @from_address_presenter.message, classes: 'govuk-!-margin-bottom-0') %>
        <% end %>

        <% if @from_address.pending? %>
          <%= govuk_link_to(t('activemodel.attributes.email_settings.from_address.pending_link'),
            settings_from_address_index_path(service.service_id), class: 'govuk-!-margin-left-8')%>
        <% else %>
          <p class="govuk-!-margin-top-2">
            <%= govuk_link_to(t('activemodel.attributes.email_settings.from_address.link'),
              settings_from_address_index_path(service.service_id))%>
          </p>
        <% end %>
      <% end %>
    </div>

    <%= f.govuk_collection_select :confirmation_email_component_id, f.object.email_components, :id, :label,
    label: {
      text: f.object.class.human_attribute_name(:confirmation_email_component_id),
      for: settings_field_id(f, :confirmation_email_component_id, deployment_environment)
    },
    id: settings_field_id(f, :confirmation_email_component_id, deployment_environment),
    class: "govuk-!-width-two-thirds"
    %>

  <%= f.govuk_text_field :confirmation_email_subject,
    label: {
      text: f.object.class.human_attribute_name(:confirmation_email_subject),
      for: settings_field_id(f, :confirmation_email_subject, deployment_environment)
    },
    id: settings_field_id(f, :confirmation_email_subject, deployment_environment) %>

  <%= f.govuk_text_area :confirmation_email_body,
    label: {
      text: f.object.class.human_attribute_name(:confirmation_email_body),
      for: settings_field_id(f, :confirmation_email_body, deployment_environment)
    },
    id: settings_field_id(f, :confirmation_email_body, deployment_environment),
    rows: 5 %>

  <div class="govuk-!-margin-bottom-2"  id="pdf_<%=deployment_environment%>_hint">
  <%= t('activemodel.attributes.email_settings.pdf_hint') %>
  </div>
  <p class="govuk-!-margin-top-1 govuk-!-margin-bottom-2">
    <%= link_to t('activemodel.attributes.email_settings.pdf_sample'), asset_url('/sample.pdf'), class: 'govuk-link', target: '_blank', rel: 'noopener nofollow' %>
  </p>
