<%= editor_settings_screen(settings_submission_index_path) do %>
  <h1 class="govuk-heading-xl"><%= t('settings.confirmation_email.heading') %></h1>
  <p><%= t('settings.confirmation_email.description') %></p>

  <% if @email_components.present? %>
    <% content_for :forms do %>
      <%= render 'form', object: @confirmation_email_settings_dev,deployment_environment: 'dev' %>
      <%= render 'form', object: @confirmation_email_settings_production,deployment_environment: 'production' %>
    <% end %>

    <%= yield :error_summary %>
    <%= yield :forms %>
  <% else %>
    <%= govuk_warning_text(
      text: t('warnings.confirmation_email.message',
      href:
        govuk_link_to(
          t('warnings.confirmation_email.link_text'),
          t('warnings.confirmation_email.link_url'),
          target: :_blank,
          rel: 'nofollow noreferrer'
        )
      ).html_safe
    ) %>
  <% end %>
<% end %>
