<turbo-frame id="<%= TURBO_FRAME_ID %>">
  <div class="govuk-notification-banner mojf-announcement" role="region"
       aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
    <div class="govuk-notification-banner__header">
      <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
        <%= banner_title %>
        <span class="mojf-announcement__dismiss-link">
          <% if @user %>
            <%= link_to dismiss_announcement_path(announcement), 'data-turbo-method': :put,
                        class: 'govuk-link govuk-link--inverse' do %>
              <%= t('notification_banners.dismiss') %><span class="govuk-visually-hidden"><%= t('notification_banners.dismiss_assistive') %></span>
            <% end %>
          <% end %>
        </span>
      </h2>
    </div>
    <div class="govuk-notification-banner__content">
      <%= banner_content %>
    </div>
  </div>
</turbo-frame>