<div class="component-dialog-api-request">
  <%= form_for @destination, url: api_service_flow_destinations_path(service.service_id, @destination.flow_uuid) do |f| %>
    <div class="govuk-form-group ">
      <%= f.label :destination_uuid, t('dialogs.destination.label'), class: "govuk-label govuk-label--m"  %>
      <div class="govuk-hint">
        <%= t('dialogs.destination.lede', title: @destination.title) %>
      </div>
      <span><%= t('dialogs.destination.go_to') %></span>
       <div class="govuk-form-group">
        <select class="govuk-select" name="destination_uuid" id="destination_uuid">
          <%= render partial: "branches/destinations_list",
                    locals: {
                      destinations: @destination.main_destinations,
                      selected: @destination.current_destination
                    }
          %>
          <% if @destination.detached_destinations.present? %>
            <optgroup class="destination-optgroup" label="<%= t('branches.detached_list') %>">
              <%= render partial: "branches/destinations_list",
                        locals: {
                          destinations: @destination.detached_destinations,
                          selected: @destination.current_destination
                        }
              %>
            </optgroup>
          <% end %>
        </select>
      </div>
    </div>
    <p><%= t('dialogs.destination.text') %></p>

    <div class="govuk-button-group">
      <button class="govuk-button fb-govuk-button" type="submit">
        <%= t('dialogs.destination.button_change') %>
      </button>

      <button class="govuk-button govuk-button--secondary" type="button" >
        <%= t('dialogs.button_cancel') %>
      </button>
    </div>
  <% end %>
</div>
