<div class="component-dialog-form ui-dialog-content ui-widget-content" id="change-destination-dialog" data-activator-text="Change destination" data-cancel-text="Cancel" data-component="">
  <h2 class="govuk-heading-m"><%= t('pages.destination.heading') %></h2>

  <p><%= t('pages.destination.lede') %></p>

  <%= form_for @destination, url: api_service_flow_destinations_path(service.service_id, @destination.flow_uuid) do |f| %>

    <%= f.select :destination_uuid, @destination.destinations,
      {
        include_blank: false,
        selected: @destination.current_destination
      },
      {
        class: 'govuk-select',
        name: 'destination_uuid',
        id: 'destination_uuid'
      }
    %>

    <p class="govuk-hint"><%= t('pages.destination.hint') %></p>

    <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
      <div class="ui-dialog-buttonset">
        <%= f.submit t('pages.destination.submit'), class: 'govuk-button fb-govuk-button', id: 'fb-editor-change-destination' %>
        <button type="button" class="ui-button ui-corner-all ui-widget"><%= t('pages.destination.cancel') %></button>
      </div>
    </div>
  <% end %>
</div>
