<%= mojf_settings_screen(
  heading:t('settings.save_and_return.page_heading'),
  description: t('settings.save_and_return.description')
  ) do |c| %>

  <% c.with_back_link(href: settings_path) %>

  <div class="govuk-hint" id="save_and_return_hint"><%= t('settings.save_and_return.page_lede', href: t('settings.save_and_return.href', url: t('settings.save_and_return.url'))).html_safe %></div>

  <%= form_for @save_and_return, url: settings_save_and_return_index_path(service.service_id),
  html: { id: 'save-and-return-settings' },
  builder: GOVUKDesignSystemFormBuilder::FormBuilder do |f| %>

  <%= f.govuk_check_boxes_fieldset :"", multiple: false do %>
    <%= f.govuk_check_box :"save_and_return", 1, 0,
    multiple: false,
    link_errors: true,
    label: { text: t('settings.save_and_return.label') },
    checked: f.object.save_and_return_checked?
    %>
  <% end %>

    <button type="submit" class="govuk-button fb-govuk-button" data-module="govuk-button">
      <%= t('actions.save') %>
    </button>
  <% end %>
<% end %>
