<%= mojf_settings_screen(
      heading:t('settings.transfer_ownership.heading'),
      description: t('settings.transfer_ownership.lede')
    ) do |c| %>

  <% c.with_back_link(href: settings_path) %>

  <%= form_for @owner, url: settings_transfer_ownership_index_path(service.service_id),
               html: { id: 'transfer-ownership-settings' },
               builder: GOVUKDesignSystemFormBuilder::FormBuilder do |f| %>

    <div class="transfer-ownership-field">
      <%= f.govuk_fieldset legend: { text:t('settings.transfer_ownership.label'), size: 's', id: 'form-owner-legend' }, class:"govuk-!-margin-bottom-6" do %>

        <div class="govuk-hint" id="transfer_ownership_hint"><%= t('settings.transfer_ownership.hint').html_safe %></div>

        <%= f.govuk_text_field :service_name,
                               label: ->  {},
                               class: "govuk-input width-responsive-two-thirds",
                               value: @owner,
                               'aria-labelledby': 'form-owner-legend' %>
      <% end %>

      <%= govuk_warning_text(text: t('settings.transfer_ownership.warning'), html_attributes: { id: 'transfer_ownership_warning', 'prevent-unload': true  }) %>
  <% end %>
<% end %>
