<script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
<header class="govuk-header govuk-header__container" role="banner" data-module="govuk-header">
  <a href="#main-content" class="govuk-skip-link" data-module="govuk-skip-link">Skip to main content</a>

  <div class="govuk-width-container">
    <a href="/" aria-label="<%= t('header.home_link_text') %>" id="header-logo-link" class="page-header__logo" tabindex="-1" aria-hidden="true">
      <%= image_pack_tag "logo--white.svg", alt: t('header.home_link_alt') %>
    </a>

    <a href="/" class="govuk-header__link govuk-header__service-name" aria-label="<%= t('header.home_link_text') %>">
      <%= t('header.service_name') %>
    </a>

    <% if user_signed_in? %>
      <nav class="fb-navigation-header" aria-label="Site menu">
        <ul class="govuk-navigation  govuk-!-font-size-19">
          <li>
            <%= link_to t('.forms'), services_path %>
          </li>
          <li>
            <%= link_to t('.user_guide'), t('.user_guide_url'), target: :_blank %>
          </li>
          <% if moj_forms_dev? || moj_forms_team? %>
            <li>
              <%= link_to t('.admin'), admin_root_path %>
            </li>
          <% end %>
          <li>
            <%= link_to t('.sign_out', user_name: user_name), user_session_path, method: :delete %>
          </li>
        </ul>
      </nav>
    <% end %>
  </div>
</header>
