<script type="text/html"
        data-component-template="DialogConfirmationDelete"
        data-classes="dialog-delete"
        data-text-cancel="<%= t('dialogs.button_cancel') %>"
        data-text-ok="<%= t('dialogs.button_delete') %>">

  <div class="component component-dialog component-dialog-delete" id="dialog-confirmation-delete">
    <h3 id="dialog-title" data-node="heading" class="govuk-label govuk-label--m"><%= t('dialogs.heading_delete') %></h3>
    <p data-node="content"><%= t('dialogs.message_delete') %></p>
    <div class="govuk-button-group">
      <button class="govuk-button govuk-button--warning" data-node="confirm" data-method="delete"><%= t('dialogs.button_delete') %></button>
      <button class="govuk-button govuk-button--secondary" data-node="cancel"><%= t('dialogs.button_cancel') %></button>
    </div>
  </div>
</script>
