<% @page.components&.each do |component| %>
<% # puts @page.components.to_yaml %>
  <script type="text/html"
          data-component-template="QuestionMenu_<%= component.uuid %>"
          data-component-uuid="<%= component.uuid %>"
          data-activator-text="<%= t('question.menu.activator') %>">
    <ul class="govuk-navigation component-activated-menu">
      <li data-action="required" data-validation="required">
        <span role="menuitemcheckbox"
              aria-checked="<%= component.validation ? component.validation['required'] : 'false' -%>"
              aria-haspopup="dialog">
          <%= t('question.menu.required')%>
        </span>
      </li>

      <%= puts "===============> component.type: #{component.type} " %>

      <% if component.type  == 'autocomplete' %>
        <li data-action="upload"
            data-api-path="<%= URI.decode_www_form_component(api_service_autocomplete_path(service.service_id, component.uuid))%>">
          <span aria-haspopup="dialog"><%= t('question.menu.upload_options') %></span>
        </li>
      <% end %>

      <% if component.type  == 'text' %>
      <%= puts "++++++> #{@page.components.select{|k,v| k.type == 'select'}.to_yaml}" %>
        <li data-action="edit"
            data-api-path="<%= URI.decode_www_form_component(api_service_select_path(service.service_id, component.uuid, @page.components.select{|k,v| k.type == 'select'}.first.to_json))%>">
          <span aria-haspopup="dialog"><%= t('question.menu.edit_select_options') %></span>
        </li>
      <% end %>

      <% if component.type  == 'select' %>
        <li data-action="edit"
            data-api-path="<%= URI.decode_www_form_component(api_service_select_path(service.service_id, component.uuid))%>">
          <span aria-haspopup="dialog"><%= t('question.menu.edit_select_options') %></span>
        </li>
      <% end %>


      <% enabled_validations(component).each do |validation| %>
        <% if validation == 'max_files' %>
          <li data-action="validation"
            data-validation="<%= validation %>"
            data-api-path="<%= URI.decode_www_form_component(api_service_page_component_validations_path(service.service_id, @page.uuid, component.uuid, validation)) -%>">
            <span aria-haspopup="dialog"><%= t("question.menu.#{validation}") %></span>
          </li>
        <% else %>
          <li data-action="validation"
              data-validation="<%= validation %>"
              data-api-path="<%= URI.decode_www_form_component(api_service_page_component_validations_path(service.service_id, @page.uuid, component.uuid, validation)) -%>">
            <span role="menuitemcheckbox" 
                  aria-checked="<%= component.validation[validation] ? 'true' : 'false' -%>" 
                  aria-haspopup="dialog">
              <%= t("question.menu.#{validation}") %>
            </span>
          </li>
        <% end %>
      <% end %>

      <% unless @page.type == 'page.singlequestion' %>
         <li data-action="remove"
            data-api-path="<%= URI.decode_www_form_component(api_service_page_question_destroy_message_path(service.service_id, @page.uuid, component.uuid, method: :delete)) -%>">
          <span class="destructive" aria-haspopup="dialog">
            <%= t('question.menu.remove')%>
          </span>
        </li>
      <% end %>
    </ul>
  </script>
<% end %>
