<%= form_for object,
url: settings_ms_list_index_path(service.service_id),
html: {
  id: "ms-list-setting-#{deployment_environment}",
  class: 'collect-info-environment-config govuk-!-margin-top-8',
  novalidate: true
},
builder: GOVUKDesignSystemFormBuilder::FormBuilder do |f| %>

<% content_for :error_summary do %>
  <%= f.govuk_error_summary(presenter: settings_error_summary(f.object, deployment_environment)) %>
<% end %>

<%= f.hidden_field :deployment_environment, value: deployment_environment, id: "deployment_environment_#{deployment_environment}" %>

<%= f.govuk_check_boxes_fieldset :"send_to_ms_list_#{deployment_environment}",
  multiple: false,
  legend: { text: t("publish.#{deployment_environment}.heading"), size: 'l'} do %>
  <div class="govuk-hint" id="send_to_ms_list_hint"><%= t("publish.#{deployment_environment}.description") %></div>
  <%= f.govuk_check_box :"send_to_ms_list", 1, 0,
    multiple: false,
    link_errors: true,
    label: { text: t("settings.ms_list.checkbox") },
    checked: f.object.send_to_ms_list_checked?
  %>
<% end %>

<%= govuk_details(summary_text: t("settings.submission.#{deployment_environment}.config_details_summary").html_safe, classes: "configure-#{deployment_environment}") do %>
  <%= render "list_id_fieldset", f: f, deployment_environment: deployment_environment %>
<% end %>

<%= render "created_list_setting", f: f, deployment_environment: deployment_environment %>

<%= mojf_save_button(form: f, 
                     text: t("settings.submission.#{deployment_environment}.save_button"), 
                     html_attributes: {
                       'prevent-unload': true,
                       data: {
                         unsaved_label: t("settings.submission.#{deployment_environment}.save_button"),
                       }
                     }) %>
<% end %>
