<h2><%= @question.to_s.humanize %></h2>
<% if @form %>
  <% @form.errors.each do |error| %>
    <p id="service-name-error" class="govuk-error-message">
      <span class="govuk-visually-hidden"><%= t('activemodel.errors.assistive_prefix') %></span> <%= error.message %>
    </p>
  <% end %>
<% end %>
<%= @answers.inspect %>
<%#= turbo_frame_tag "question" do %>
<%= form_with url: questionnaire_path, method: :put do |f| %>
  <%
    new_form_reason = Struct.new(:name, :value, keyword_init: true)
    new_form_reasons = [
      new_form_reason.new(name: 'Start building a form', value: 'building'),
      new_form_reason.new(name: 'Look around and experiment with MOJ forms', value: 'experiment'),

    ]
  %>

  <%= f.govuk_collection_radio_buttons :new_form_reason, new_form_reasons, :value, :name, legend: { text: 'Before you get started' }, hint: { text: 'We want to ask you' } %>

  <%= submit_tag "Next" %>
<% end %>
<%# end %>
