<h2><%= t("questionnaire.requirements.heading") %></h2>
<p><%= t("questionnaire.requirements.subheading") %></p>

<%= link_to t('dialogs.button_continue'), new_service_path, class: "govuk-button fb-govuk-button" %>

<ul>
  <% @answers.each do |q, a| %>
    <li><strong><%= q %>:</strong> <%= a %></li>
  <% end %>
</ul>
