<h2><%= @question.to_s.humanize %></h2>
<% if @form %>
  <% @form.errors.each do |error| %>
    <p id="service-name-error" class="govuk-error-message">
      <span class="govuk-visually-hidden"><%= t('activemodel.errors.assistive_prefix') %></span> <%= error.message %>
    </p>
  <% end %>
<% end %>
<%= @answers.inspect %>
<%#= turbo_frame_tag "question" do %>
  <%= form_with url: questionnaire_path(@question), method: :put do %>

    <% case @question %>
    <% when :q1 %>

      <%= radio_button_tag :answer, "yes" %> Yes<br>
      <%= radio_button_tag :answer, "no" %> No

    <% when :q2 %>
      <%= number_field_tag :answer %>

    <% when :q3 %>
      <%= select_tag :answer, options_for_select(%w[often sometimes never]) %>

    <% when :q4 %>
      <%= number_field_tag :answer %>
    <% end %>

    <br>
    <%= submit_tag "Next" %>
  <% end %>
<%# end %>
