<div class="component component-dialog component-dialog-api-request dialog-delete"
     data-component="DialogApiRequest">

  <h3 data-node="heading" class="govuk-label govuk-label--m">
    <%= t('dialogs.heading_delete', label: @page.title) %>
  </h3>
  <p data-node="content">
    <%= t('pages.delete_modal.delete_branch_destination_page_message') %>
  </p>

  <div class="govuk-button-group">
    <button class="govuk-button govuk-button--warning" data-method="delete" data-url="<%= page_path(service.service_id, @page.uuid) %>">
      <%= t('pages.delete_modal.delete_and_update_branching') %>
    </button>
    <button class="govuk-button govuk-button--secondary ui-button"><%= t('dialogs.button_cancel') %></button>
  </div>
</div>
