<%= mojf_settings_screen(heading:t('settings.name')) do |c| %>
  <nav class="govuk-navigation" aria-labelledby="page-heading">
    <dl class="fb-settings-list">
      <div>
        <dt><%= link_to t('settings.form_name.heading'), settings_form_name_url_index_path(service.service_id), class: 'govuk-link' %></dt>
        <dd class="govuk-hint"><%= t('settings.form_name.lede') %></dd>
      </div>
      <div>
        <dt><%= link_to t('settings.reference_payment.link'), settings_reference_payment_index_path(service.service_id), class: 'govuk-link' %></dt>
        <dd class="govuk-hint" ><%= t('settings.reference_payment.lede') %></dd>
      </div>
      <div>
        <dt><%= link_to t('settings.form_analytics.heading'), settings_form_analytics_path(service.service_id), class: 'govuk-link' %></dt>
        <dd class="govuk-hint" ><%= t('settings.form_analytics.lede') %></dd>
      </div>
      <div>
        <dt><%= link_to t('settings.save_and_return.heading'), settings_save_and_return_index_path(service.service_id), class: 'govuk-link' %></dt>
        <dd class="govuk-hint" ><%= t('settings.save_and_return.lede') %></dd>
      </div>
      <div>
        <dt><%= link_to t('settings.submission.heading'), settings_submission_index_path(service.service_id), class: 'govuk-link' %></dt>
        <dd class="govuk-hint" ><%= t('settings.submission.lede') %></dd>
      </div>
      <div>
        <dt><%= link_to t('settings.transfer_ownership.heading'), form_ownership_settings_service_path(service.service_id), class: 'govuk-link' %></dt>
        <dd class="govuk-hint" ><%= t('settings.transfer_ownership.description') %></dd>
      </div>
      <div>
        <dt><%= link_to t('settings.ms_list.heading'), settings_ms_list_index_path(service.service_id), class: 'govuk-link' %></dt>
        <dd class="govuk-hint" ><%= t('settings.ms_list.lede') %></dd>
      </div>
      <% if FeatureFlags.transfer_ownership.enabled? %>
      <div>
        <dt><%= link_to t('settings.transfer_ownership.heading'), form_ownership_settings_service_path(service.service_id), class: 'govuk-link' %></dt>
        <dd class="govuk-hint" ><%= t('settings.submission.lede') %></dd>
      </div>
      <% end %>
      <div>
        <dt><%= link_to t('settings.ms_list.heading'), settings_ms_list_index_path(service.service_id), class: 'govuk-link' %></dt>
        <dd class="govuk-hint" ><%= t('settings.ms_list.lede') %></dd>
      </div>
    </dl>
  </nav>
<% end %>
