<%= editor_settings_screen(false) do %>
  <h1 id="settings-navigation-heading" class="govuk-heading-xl"><%= t('settings.name') %></h1>
  <nav class="govuk-navigation" aria-labelledby="settings-navigation-heading">
    <dl class="fb-settings-list">
      <div>
        <dt><%= link_to t('settings.form_information.name'), settings_form_information_index_path(service.service_id), class: 'govuk-link' %></dt>
        <dd class="govuk-hint"><%= t('settings.form_information.description') %></dd>
      </div>
      <div>
        <dt><%= link_to t('settings.form_analytics.name'), settings_form_analytics_path(service.service_id), class: 'govuk-link' %></dt>
        <dd class="govuk-hint" ><%= t('settings.form_analytics.hint') %></dd>
      </div>
      <div>
        <dt><%= link_to t('settings.submission.name'), settings_submission_index_path(service.service_id), class: 'govuk-link' %></dt>
        <dd class="govuk-hint" ><%= t('settings.submission.hint') %></dd>
      </div>
    </dl>
  </nav>
<% end %>
