<%= mojf_settings_screen(heading:t('settings.name')) do |c| %>
  <nav class="govuk-navigation" aria-labelledby="page-heading">
    <dl class="fb-settings-list">
      <div>
        <dt><%= link_to t('settings.form_information.heading'), settings_form_information_index_path(service.service_id), class: 'govuk-link' %></dt>
        <dd class="govuk-hint"><%= t('settings.form_information.lede') %></dd>
      </div>
      <div>
        <dt><%= link_to t('settings.reference_payment.link'), settings_reference_payment_index_path(service.service_id), class: 'govuk-link' %></dt>
        <dd class="govuk-hint" ><%= t('settings.reference_payment.lede') %></dd>
      </div>
      <div>
        <dt><%= link_to t('settings.form_analytics.heading'), settings_form_analytics_path(service.service_id), class: 'govuk-link' %></dt>
        <dd class="govuk-hint" ><%= t('settings.form_analytics.lede') %></dd>
      </div>
      <div>
        <dt><%= link_to t('settings.save_and_return.heading'), settings_save_and_return_index_path(service.service_id), class: 'govuk-link' %></dt>
        <dd class="govuk-hint" ><%= t('settings.save_and_return.lede') %></dd>
      </div>
      <div>
        <dt><%= link_to t('settings.submission.heading'), settings_submission_index_path(service.service_id), class: 'govuk-link' %></dt>
        <dd class="govuk-hint" ><%= t('settings.submission.lede') %></dd>
      </div>
    </dl>
  </nav>
<% end %>
