<% if @page.errors.present? %>
  <div class="govuk-grid-column-two-thirds govuk-error-summary" data-module="govuk-error-summary">
    <% @page.errors.each do |error|  %>
      <p class="govuk-error-message"><%= error.message %></p>
    <% end %>
  </div>
<% end %>

<%= render template: @page.template %>
<%= render partial: 'partials/add_component_button' %>
<%= render partial: 'partials/add_content_button' %>
<%= render partial: 'partials/template_component_question_menu' %>
<%= render partial: 'partials/template_content_menu' %>
<%= render partial: 'partials/template_editable_collection_item_menu' %>
<%= render partial: 'partials/template_dialog_configuration' %>
<%= render partial: 'partials/template_content_property_fields' %>
<%= render partial: 'partials/template_question_property_fields' %>

<%= form_for @page, as: :page, url: page_path(service.service_id, @page.uuid), html: { id: "editContentForm" }, method: :patch do |f| %>
  <% @page.editable_attributes.each do |key, value| %>
    <% if key == :components || key == :extra_components %>
      <% value.each_with_index do |hash, index| %>
        <%= f.hidden_field "#{key}[#{index}]", value: hash.to_json %>
      <% end %>
    <% else %>
      <%= f.hidden_field key, value: value %>
    <% end %>
  <% end %>

  <%= f.submit t('actions.save'), class: 'govuk-button fb-govuk-button', id: 'fb-editor-save' %>
<% end %>

<% # app.page is initialised in partials/properties. %>
<% # JS object should exist at this point so we're not checking for existence. %>
<% # If app.page does not exist at this point, something is seriously wrong. %>
<% # Let it fail so that we can see some error output in console. %>
<% content_for :page_data_url do %><%= api_service_page_path(':id', ':page_uuid') %><% end %>
