<%= f.hidden_field :previous_flow_uuid, value: @conditional_content.previous_flow_uuid %>
<%= f.hidden_field :component_uuid, value: @conditional_content.component_uuid %>

<%= render 'form_conditionals', f: f %>

<div class="govuk-button-group">
  <button class="govuk-button fb-govuk-button" type="submit">
    <%= t('dialogs.component_validations.button') %>
  </button>

  <button class="govuk-button govuk-button--secondary" type="button" >
    <%= t('dialogs.button_cancel') %>
  </button>
</div>
