<%= f.hidden_field :previous_flow_uuid, value: @conditional_content.previous_flow_uuid %>
<%= f.hidden_field :component_uuid, value: @conditional_content.component_uuid %>

<div class="conditionals" data-controller="dynamic-fields conditionals">
  <%= f.fields_for :conditionals, child_index: conditional_index do |conditional| %>
    <%= render 'conditional_fields', conditional: conditional, f: f %>
  <% end %>

  <template data-dynamic-fields-target="template">
     <%= f.fields_for :conditionals, ComponentConditional.new(expressions: [ComponentExpression.new]), child_index: "__CHILD_INDEX__" do |conditional| %>
      <%= render 'conditional_fields', conditional: conditional, f: f %>
    <% end %>
  </template>
  
  <div class="conditional">
    <%= button_tag 'Add another rule', type: 'button', data: { action: 'dynamic-fields#add'}, class: 'govuk-link fb-link-button prevent-modal-close' %>
  </div>
</div>


<div class="govuk-button-group">
  <button class="govuk-button fb-govuk-button" type="submit">
    <%= t('dialogs.component_validations.button') %>
  </button>

  <button class="govuk-button govuk-button--secondary" type="button" >
    <%= t('dialogs.button_cancel') %>
  </button>
</div>
