<% content_for(:title) do %>
  <%= display_resource_name('Service') %>
<% end %>

<header class="main-content__header" role="banner">
  <h1 class="main-content__page-title" id="page-title">
    <%= 'Session Duration' %>
  </h1>
</header>

<section class="main-content__body">
  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Current duration (minutes)
      </dt>
      <dd class="govuk-summary-list__value">
        <%= @session_duration %>
      </dd>
    </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          New duration (minutes)
        </dt>

        <dd>
          <div class="govuk-form-group">
            <input class="govuk-input govuk-input--width-3" id="width-3" name="width-3" type="text">
          </div>
        </dd>

        <dd class="govuk-summary-list__value">
        <%= form_with(
            url: admin_service_session_durations_path(params[:service_id]),
            method: :put,
            local: true) do |f| %>
          <%= f.submit 'Save', class: 'govuk-button fb-govuk-button', id: 'version-save' %>

          <% end %>
        </dd>
    </div>
  </dl>
</section>
