<div class="flex align-items-center">
  <label class="govuk-label govuk-label--m govuk-visually-hidden" for="component_validation_value">
    <%= @component_validation.label %>
  </label>
  <input class="govuk-input govuk-input--width-5 <%= @component_validation.errors.present? ? 'govuk-input--error' : '' %>"
         id="component_validation_value"
         name="component_validation[value]"
         pattern="[0-9]*"
         inputmode="numeric"
         spellcheck="false"
         autocomplete=""
         aria-describedby="<%= @component_validation.errors.present? ? 'component_validation_value_error' : '' %> hint-text-prompt"
         <%=   @component_validation.errors.present? ? 'aria-invalid=true' : '' %>
         value="<%= @component_validation.main_value %>">

  <fieldset class="govuk-fieldset govuk-!-margin-left-9">
    <legend class="govuk-fieldset--legend govuk-visually-hidden">Length units</legend>
      <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
        <div class="govuk-radios__item govuk-!-margin-bottom-0">
          <input class="govuk-radios__input" id="component_validation_characters" name="component_validation[string_length]"
                 type="radio" value="<%= @component_validation.characters_radio_value %>"
                 <%= ((!@component_validation.select_characters? && !@component_validation.select_words?) || @component_validation.select_characters?) ? 'checked' : '' %>>
          <label class="govuk-label govuk-radios__label" for="component_validation_characters">
            <%= t('dialogs.component_validations.string.characters') %>
          </label>
        </div>
        <div class="govuk-radios__item govuk-!-margin-bottom-0">
          <input class="govuk-radios__input" id="component_validation_words" name="component_validation[string_length]"
                 type="radio" value="<%= @component_validation.words_radio_value %>"
                 <%= @component_validation.select_words? ? 'checked' : '' %>>
          <label class="govuk-label govuk-radios__label" for="component_validation_words">
            <%= t('dialogs.component_validations.string.words') %>
          </label>
        </div>
      </div>
  </fieldset>
</div>
<p id="hint-text-prompt"><%= t('dialogs.component_validations.hint_text_prompt') %></p>
