<%= f.govuk_fieldset(legend: { text: f.object.class.human_attribute_name(:email_fieldset) }) do %>
  <div class="govuk-form-group">
    <%= f.object.class.human_attribute_name :service_email_from %>
    <%=f.object.service.service_name %>
  </div>

  <div class="govuk-form-group govuk-!-margin-left-1 <%= f.object.errors.present? ? 'govuk-form-group--error' : '' %>">
    <% if f.object.errors.present? %>
      <% f.object.errors.full_messages.each do |error_message| %>
          <p id="email-settings-base-<%= deployment_environment %>-field-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> <%= error_message %>
          </p>
      <% end %>
    <% end %>
    <%= f.govuk_email_field :service_email_output,
      label: {
        text: f.object.class.human_attribute_name(:service_email_output),
        for: settings_field_id(f, :service_email_output, deployment_environment)
      },
      width: 'two-thirds',
      id: settings_field_id(f, :service_email_output, deployment_environment),
      hint: -> do %>
      <div class="govuk-hint"
        id="email-settings-service-email-output-<%=deployment_environment%>-hint">
        <%=t('activemodel.attributes.email_settings.service_email_output_hint') %>
      </div>
    <% end %>

  <%= f.govuk_text_field :service_email_subject,
    label: {
      text: f.object.class.human_attribute_name(:service_email_subject),
      for: settings_field_id(f, :service_email_subject, deployment_environment)
    },
    id: settings_field_id(f, :service_email_subject, deployment_environment) %>

  <%= f.govuk_text_area :service_email_body,
    label: {
      text: f.object.class.human_attribute_name(:service_email_body),
      for: settings_field_id(f, :service_email_body, deployment_environment)
    },
    id:  settings_field_id(f, :service_email_body, deployment_environment),
    rows: 5 %>
<% end %>
