<%= f.govuk_fieldset(legend: { text: f.object.class.human_attribute_name(:email_fieldset) }) do %>
  <% if ENV['FROM_ADDRESS'] == 'enabled' %>
    <div class="govuk-form-group">
      <%= f.object.class.human_attribute_name :service_email_from %>
      <strong><%= f.object.service_email_from %></strong>

      <% unless @from_address.verified? %>
        <%= govuk_warning_text(text: @from_address_presenter.message[:text]) %>
      <% end %>

      <% if @from_address.pending? %>
        <%= link_to(t('activemodel.attributes.email_settings.from_address.pending_link'),
                    settings_from_address_index_path(service.service_id))%>
      <% else %>
        <%= link_to(t('activemodel.attributes.email_settings.from_address.link'),
                              settings_from_address_index_path(service.service_id))%>
      <% end %>
    </div>
  <% end %>

  <%= f.govuk_email_field :service_email_output,
    label: {
      text: f.object.class.human_attribute_name(:service_email_output),
      for:"service_email_output_#{deployment_environment}"
    },
    width: 'two-thirds',
    id: "service_email_output_#{deployment_environment}" %>

  <%= f.govuk_text_field :service_email_subject,
    label: {
      text: f.object.class.human_attribute_name(:service_email_subject),
      for: "service_email_subject_#{deployment_environment}"
    },
    id: "service_email_subject_#{deployment_environment}"  %>

  <%= f.govuk_text_area :service_email_body,
    label: {
      text: f.object.class.human_attribute_name(:service_email_body),
      for: "service_email_body_#{deployment_environment}"
    },
    hint: { text: f.object.class.human_attribute_name(:service_email_body_hint) },
    id:  "service_email_body_#{deployment_environment}",
    rows: 5 %>
<% end %>
