<%= f.govuk_fieldset(legend: { text: f.object.class.human_attribute_name(:email_fieldset) }) do %>
    <div class="govuk-form-group">
      <%= f.object.class.human_attribute_name :service_email_from %>
      <strong><%= f.object.service_email_from %></strong>

      <% unless @from_address.verified? %>
        <%= govuk_warning_text(text: @from_address_presenter.message, classes: 'govuk-!-margin-bottom-0') %>
      <% end %>

      <% if @from_address.pending? %>
        <%= govuk_link_to(t('activemodel.attributes.email_settings.from_address.pending_link'),
          settings_from_address_index_path(service.service_id), class: 'govuk-!-margin-left-8')%>
      <% else %>
        <p class="govuk-!-margin-top-2">
          <%= govuk_link_to(t('activemodel.attributes.email_settings.from_address.link'),
            settings_from_address_index_path(service.service_id))%>
        </p>
      <% end %>
    </div>

  <%= f.govuk_email_field :service_email_output,
    label: {
      text: f.object.class.human_attribute_name(:service_email_output),
      for: settings_field_id(f, :service_email_output, deployment_environment)
    },
    width: 'two-thirds',
    id: settings_field_id(f, :service_email_output, deployment_environment) %>

  <%= f.govuk_text_field :service_email_subject,
    label: {
      text: f.object.class.human_attribute_name(:service_email_subject),
      for: settings_field_id(f, :service_email_subject, deployment_environment)
    },
    id: settings_field_id(f, :service_email_subject, deployment_environment) %>

  <%= f.govuk_text_area :service_email_body,
    label: {
      text: f.object.class.human_attribute_name(:service_email_body),
      for: settings_field_id(f, :service_email_body, deployment_environment)
    },
    hint: { text: f.object.class.human_attribute_name(:service_email_body_hint) },
    id:  "service-email-body-#{deployment_environment}-field",
    rows: 5 %>
<% end %>
