<%= editor_settings_screen(settings_submission_index_path) do %>
  <h1 class="govuk-heading-xl"><%= t('settings.submission.email.label') %></h1>
  <p><%= t('settings.submission.email.help') %></p>

    <%= render 'error_summary', object: @email_settings_dev, deployment_environment: 'dev' %>
    <%= render 'error_summary', object: @email_settings_production, deployment_environment: 'production' %>

    <%= render 'form', object: @email_settings_dev, deployment_environment: 'dev' %>
    <%= render 'form', object: @email_settings_production, deployment_environment: 'production' %>

<% end %>
