<div class="component-dialog-api-request" id="autocomplete_items">
  <%= form_for @items, url: api_service_autocomplete_path(service_id: service.service_id, component_id: @items.component_id), method: :post, multipart: true do |form| %>
  <div class="govuk-form-group">
    <%= form.label :file, t('dialogs.autocomplete.legend'), 
      id: "autocomplet-items-dialog-title", 
      class: "govuk-label govuk-label--m",
      data: { node: "heading" } %>

      <% if items_present?(@items.component_id) %>
        <div class="govuk-warning-text govuk-!-margin-bottom-2">
          <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
          <strong class="govuk-warning-text__text govuk-!-font-weight-regular">
            <span class="govuk-warning-text__assistive">Warning</span>
            <%= t('dialogs.autocomplete.modal_warning') %>
          </strong>
        </div>
      <% end %>

      <div id="file_hint" class="govuk-hint">
        <%= t('dialogs.autocomplete.hint') %>
      </div>

      <div class="govuk-form-group <%= @items.errors.present? ? 'govuk-form-group--error' : '' %>">
        <% @items.errors.each do |error|  %>
          <p class="govuk-error-message" id="autocomplete_items_<%=error.attribute%>_error">
            <span class="govuk-visually-hidden">Error:</span><%= error.message %>
          </p>
        <% end %>

        <%= form.file_field :file, class: "govuk-file-upload", 'aria-describedby': 'file_hint autocomplete_items_file_error', accept: ".csv" %>

      </div>
      <p class="govuk-!-margin-top-7 govuk-!-margin-bottom-8">
        <%= link_to "#{t('dialogs.autocomplete.requirement_link')} #{t('actions.open_in_new_window')}", 'https://moj-forms.service.justice.gov.uk/building-and-editing/#autocomplete', target: "_blank", rel: "noreferrer noopener", class: 'govuk-link' %>
      </p>
  </div>

  <%= form.button t('dialogs.autocomplete.button'), type: "submit", class: 'govuk-button fb-govuk-button' %>

  <button class="govuk-button govuk-button--secondary" type="button" >
    <%= t('dialogs.button_cancel') %>
  </button>
  <% end %>
</div>
