<div class="component-dialog-api-request" id="external_start_page_url">
  <%= form_for @external_url, url: api_service_external_start_page_index_path(service.service_id), method: :post, builder: GOVUKDesignSystemFormBuilder::FormBuilder do |f| %>
    <div class="govuk-form-group">
      <h2 class="govuk-heading-m"><%= t('external_start_page_url.title') %></h2>
      
      <p class="description"><%= t('external_start_page_url.content') %></p>

      <%= f.govuk_error_summary %>
      
      <%= f.govuk_text_field :url,
      label: { text: t('external_start_page_url.label'), size: 's', tag: 'h3' },
      hint: { text: t('external_start_page_url.hint') }
      %>
      
      <div class="govuk-button-group">
        <button class="govuk-button fb-govuk-button" type="submit">
          <%= t('external_start_page_url.confirm') %>
        </button>

        <button class="govuk-button govuk-button--secondary" type="button" >
          <%= t('dialogs.button_cancel') %>
        </button>
      </div>
    </div>
  <% end %>
</div>
