<div class="component-dialog-api-request" id="external_start_page_preview">
  <h2 class="govuk-heading-m"><%= t('external_start_page_url.preview.title') %></h2>
  <p class="description"><%= t('external_start_page_url.preview.content_one') %></p>
  <p class="description"><%= t('external_start_page_url.preview.content_two') %></p>

  <div class="govuk-button-group">
    <a href="/" class="govuk-button fb-govuk-button">
      <%= t('external_start_page_url.preview.confirm') %>
    </a>
    <a href="/" class="govuk-button govuk-button--secondary">
      <%= t('external_start_page_url.preview.cancel') %>
    </a>
  </div>
</div>
