<div class="component component-dialog component-dialog-api-request dialog-delete"
     data-component="DialogApiRequest">

  <h3 id="dialog-title" data-node="heading" class="govuk-label govuk-label--m">
    <%= t('dialogs.heading_delete', label: @branch.title) %>
  </h3>

  <%= form_for @branch,
    url: branch_path(service.service_id, @branch.branch_uuid),
    method: :delete do |f| %>
    <%= f.govuk_collection_radio_buttons(
      :destination_uuid,
      @branch.destinations,
      :uuid,
      :title,
      legend: { text: t('branches.delete_modal.destinations') })
    %>

    <p data-node="content"><%= t('branches.delete_modal.before_submit') %></p>

    <div class="govuk-button-group">
      <%= f.button t('branches.delete_modal.submit'), class: 'govuk-button govuk-button--warning', data: { method: "delete" } %>
      <button type="button" class="govuk-button govuk-button--secondary ui-button"><%= t('dialogs.button_cancel') %></button>
    </div>
  <% end %>
</div>
