<%= editor_settings_screen(settings_path) do %>
    <h1 class="govuk-heading-xl"><%= t('settings.form_analytics.name') %></h1>
    <p class="govuk-body"><%= t('settings.form_analytics.intro') %></p>
    <%= form_for @form_analytics, url: settings_form_analytics_path(service.service_id),
      html: { id: 'form-analytics-settings' },
      builder: GOVUKDesignSystemFormBuilder::FormBuilder do |f| %>

      <%= f.govuk_error_summary %>

      <%= render partial: 'form', locals: { f: f, environment: 'test' } %>
      <%= render partial: 'form', locals: { f: f, environment: 'live' } %>

      <button type="submit" class="govuk-button fb-govuk-button" data-module="govuk-button">
        <%= t('actions.save') %>
      </button>
  <% end %>
<% end %>
