<% content_for :back_link do %>
  <%= render MojForms::BackLinkComponent.new(href: settings_path) do %>
    <%=t('actions.back')%><span class="govuk-visually-hidden">to <%=t('settings.name')%></span>
  <% end %>
<% end %>
<%= mojf_settings_screen(
  heading:t('settings.form_analytics.heading'),
  description: t('settings.form_analytics.description')
  ) do |c| %>

  <%= form_for @form_analytics, url: settings_form_analytics_path(service.service_id),
    html: { id: 'form-analytics-settings' },
    builder: GOVUKDesignSystemFormBuilder::FormBuilder do |f| %>

    <%= f.govuk_error_summary %>

    <%= render partial: 'form', locals: { f: f, environment: 'test' } %>
    <%= render partial: 'form', locals: { f: f, environment: 'live' } %>

    <%= mojf_save_button(form: f, text: t('actions.save'), html_attributes: {'prevent-unload': true }) %>
    
  <% end %>
<% end %>
