<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= page_title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= render partial: 'partials/head_tags' %>
    <%= render partial: 'partials/properties' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <!-- Google tag (gtag.js) -->
    <% if ENV['PLATFORM_ENV'] == 'live' %>
      <script nonce=<%= request.content_security_policy_nonce %> async src="https://www.googletagmanager.com/gtag/js?id=G-B3FKFL8JD1"></script>
      <script nonce=<%= request.content_security_policy_nonce %> >
        window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-B3FKFL8JD1');
      </script>
    <% end %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body class="govuk-template__body govuk-body layout-application <%= "#{controller_name}-#{action_name}" %>">
    <%= render partial: 'partials/header' %>

    <%= render partial: 'partials/form_navigation' if show_form_navigation? %>

    <% if content_for? :back_link %>
      <div class="mojf-back-link-wrapper govuk-width-container">
        <%= yield :back_link %>
      </div>
    <% end %>

    <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing govuk-width-container govuk-body-m" id="main-content" role="main">
      <%= yield %>
    </main>

    <%= render partial: 'partials/footer' %>
    <%= render partial: 'partials/template_dialog' %>
    <%= render partial: 'partials/template_dialog_confirmation' %>
    <%= render partial: 'partials/template_dialog_confirmation_delete' %>
  </body>
</html>
